//	taylor colors
@text-purple: rgb(97,87,139);
@purple: rgb(97,87,139);
@gold: rgb(174,147,108);
@blue: rgb(23,121,186);
@deeper-blue: rgb(0,70,116);
@new-blue: rgb(83,200,235);
@bright-blue: #1f9cf0;
@turquoise: rgb(98,198,192);
@light-gray: rgb(219,217,214);
@red: rgb(195,98,102);
@yellow: rgb(251,174,59);
@medium-gray: rgb(242,242,242);
@medium-dark-gray: rgb(225,225,230);
@dark-gray: #242426;
@teal: #017276;
@green: rgb(0,116,118);
@off-white: #f5f5f5;