/*
	department-stamps.less
*/
.department-stamps {
  #department-heading {
    @media (min-width: 1215px) {
      margin-bottom: 80px;
    }
    h1 {
      margin-bottom: 0px;
    }
    .is-h4-like {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}
#department-related {
  #department-news {
    margin-top: 80px;
  }
  #publications-heading {
    @media (min-width: 1216px) {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  #news-items,
  #publications-items {
      .date,.detail-data{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    .date {
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
      color: @bright-blue;
      text-transform: uppercase;
    }
    .detail-data {
      font-size: 16px;
      font-weight: 600;
      a {
        color: @text-purple;
        font-size: 16px;
        &:hover {
          color: @deeper-blue;
        }
        &:focus {
          color: @deeper-blue;
        }
      }
    }
    .content {
      margin: 0px;
      padding: 0px;
    }
    .is-h3-like {
      @media (max-width: 1215px) {
        font-size: 20px;
      }
        a {
          color: @green;
          &:hover {
            color: @deeper-blue;
          }
          &:focus {
            color: @deeper-blue;
          }
        }
    }
    hr {
      @media (min-width: 1216px) {
        margin-top: 40px 0px 50px 0px;
      }
      @media (max-width: 1215px) {
        margin: 20px 0px 30px 0px;
      }
    }
  }
  #news-items {
    @media (min-width: 1216px) {
      padding: 40px 0px;
    }
  }
  #publications-items {
    @media (min-width: 1216px) {
      padding: 40px 40px 40px 40px;
    }

    .publication {
      margin-bottom: 40px;
    }
  }
}
.fat-button {
  padding: 20px 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.faculty-staff {
  border-top: 1px solid @medium-dark-gray;
  .faculty-list {
    padding-bottom: 4%;
    .columns {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      @media (max-width: 768px) {
        text-align: center;
      }
      ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        li{
          a {
            color: white;
            &:hover {
              color: @deeper-blue;
            }
            &:focus {
              color: @deeper-blue;
            }
          }
        }
      }
      .split-list {
        @media (min-width: 769px) {
          margin-top: 24px;
        }
      }
    }
  }
  .slide {
    .profile-name {
      font-family: "Times New Roman";
      font-weight: 400;
      color: @purple;
      margin-bottom: 40px;
      @media (min-width: 769px) {
        margin-top: 100px;
        font-size: 52px;
      }
      @media (max-width: 768px) {
        margin-top: 20px;
        font-size: 42px;
      }
    }
    img {
      margin: 0px auto;
    }
  }
}
