/*
	publications.less
*/

  #publications-page-widget {
    .columns {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      .column {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
      }
    }
    .publication-heading-block {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      vertical-align: middle;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      min-width: 247px;
    }
    .indent-tablet-up {
      @media (min-width: 767px) {
        margin-left: 42px;
      }
    }
    .publication-details {
      h3 {
        font-size: 25px;
        margin: 0px;
        line-height: 30px;
      }
      .project-type {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-top: 17px;
        font-size: 14px;
        color: @text-purple;
        text-transform: uppercase;
        font-weight: bold;
      }
      p {
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
    .publication {
      hr {
        margin-top: 51px;
        margin-bottom: 45px;
        color: @medium-dark-gray;
      }
    }
    #all-publications {
      margin-top: 53px;
    }
  }

  #publication-details {
    #publication-metadata {
        margin-top: 0px;
        margin-bottom: 60px;
        ul {
        list-style-type: none;
        margin-top: 0px;
        margin-bottom: 0px;
        li {
            margin-bottom: 10px;
        }
        }
        .detail-heading,
        .detail-data {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: @text-purple;
        }
        .detail-heading {
        text-transform: uppercase;
        font-weight: 400;
        }
        .detail-data {
        font-weight: bold;
            p {
                margin: 0px;
                padding: 0px;
            }
        }
  }
  .image-caption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: @text-purple;
    font-weight: bold;
    p {
      margin: 0px;
      padding: 0px;
    }
  }
}