<template>
	<div id="contactsList">
    <template v-if="loaded">
      <ul class="no-bullet" v-if="loaded" v-for="n in faculty">
        <li><a :href="'mailto:' + n.email">{{ n.lastName }}, {{ n.firstName }}</a></li>
      </ul>
    </template>
    <div v-else>Loading...</div>
	</div>
</template>

<script>
  import axios from 'axios';

	export default {
    name: 'contactsList',
    data() {
      return {
        loaded: false,
        faculty: []
      }
    },
    props: [
      'department'
    ],
    created() {
      var request = "https://taylor.edu/api/content/render/false/type/json/query/+contentType:Employee%20+(conhost:75957395-917a-4c73-9536-cc93af162797%20conhost:SYSTEM_HOST)%20+Employee.type1:*faculty*%20+languageId:1%20+(categories:" + this.department + ")%20+deleted:false%20+working:true/orderby/modDate%20desc/limit/9999"
      axios.get(request)
        .then(response => {
          this.faculty = response.data.contentlets;
          this.loaded = true;
        })
    },
  }
</script>