<template>
	<li>
		<a
			:class="[
				item.subsub ? 'has-submenu' : '', 
				isActive ? 'is-active' : '',
				item.active ? 'is-active' : ''
			]"
			@click="isActive = !isActive" :href="!item.subsub ? item.link : null" 
		>
			<span v-html="index==0 ? item.name + ' Overview' : item.name"></span>
			<span v-if="item.subsub" class="svg-submenu-arrow-container svg-submenu-arrow float-right">
	            <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
	                <polyline width="100" height="100" points="0,0 50,100 100,0" stroke="white" fill="none" stroke-width="10"/>
	            </svg>
	        </span>
		</a>
		
		<ul v-if="item.subsub">
			<li v-for="subsubItem in item.subsub">
				<a 
				 v-bind:class="[ subsubItem.active ? 'is-active' : '']"
				 :href="subsubItem.link" v-html="subsubItem.name"></a>
			</li>
		</ul>
	</li>
</template>

<script>
	export default {
        name: 'SlideoutNavItem',
        data: function() {
            return {
            	isActive: false
            }
        },
        props: [
            'item',
            'index'
        ]
    }
</script>