<template>
	<section class="menu-section">
		<h3 class="menu-section-title" v-html="items[0].name"></h3>
		<ul class="menu-section-list menu-list">
			<slideout-nav-item v-for="(item, index) in items" :item="item" :index="index" :key="'slideout-nav-item-' + index"></slideout-nav-item>
		</ul>
	</section>
</template>

<script>
	import SlideoutNavItem from './SlideoutNavItem';
	export default {
        name: 'SlideoutNavSection',
        data: function() {
            return {
            }
        },
        components: {
        	'slideout-nav-item': SlideoutNavItem
        },
        props: [
            'items'
        ]
    }
</script>