<template>
    <div id="subnav-bar">
        <div>
        	<nav class="navbar is-hidden-mobile hover-underline-menu" data-menu-underline-from-center>
                <div class="navbar-brand">
                    <a 
                        v-for="(item, index) in items" 
                        :id="'navbar-item-' + index" 
                        class="navbar-item underline-from-center"
                        v-bind:class="[
                            index==0 ? 'main-link' : '', 
                            item.subsub ? 'has-submenu' : '',
                            routeMatches(item.link) ? 'selected-link' : '',
                            firstPartOfRouteMatches(item.link) ? 'persistent-underline' : '',
                            firstPartOfRouteMatches(item.link) ? 'selected-link' : '',
                            item.active=='selected-link' ? 'selected-link' : ''
                        ]" 
                        :href="item.link" 
                        @mouseenter="openSubsubNavigation(index)"
                        @mouseleave="closeSubsubNavigation(index, $event)"
                        @click="preHighlightSelectedLinkBackground(index, false)"
                    >
                            <span v-if="index==0" v-html="$options.filters.capitalize(item.name)"></span> <!-- If first item, capitalize it -->
                            <span v-else v-html="item.name"></span>
                            <span v-if="item.subsub">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span v-if="item.subsub" class="svg-submenu-arrow-container svg-submenu-arrow float-right">
                                <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                                    <polyline width="100" height="100" points="0,0 50,100 100,0" stroke="black" fill="none" stroke-width="10"/>
                                </svg>
                            </span>
                    </a>
                </div>
            </nav>
            <sub-sub 
                v-for="(item, index) in items" 
                v-if="item.subsub"
                :id="'subsub-' + index" 
                :subsubItems="item.subsub" 
                v-show="subsubMenuVisible[index]" 
                :key="item.name" 
                :index="index"
            ></sub-sub>
        </div>
    </div>
</template>

<script>
    import Subsub from './Subsub';
	export default {
        name: 'SubnavBar',
        components: { 'sub-sub': Subsub },
        data: function() {
            return {
                subsubMenuVisible: []
            }
        },
        props: [
            'items'
        ],
        mounted() {
            this.setsubsubnavSize();
        },
        created() {
            this.subsubMenuVisible = new Array(this.items.length).fill(false);
        },
        methods: {
            routeMatches: function(link) {
                return window.location.pathname == link;
            },
            firstPartOfRouteMatches: function(link) {
                link = link.replace(/\//g, '');
                return window.location.pathname.split('/')[1] == link;
            },
            setsubsubnavSize: function() { // set size and position of each subsub menu
                for (var i = 0; i < this.items.length; i++) {
                    var navbarItemId = "navbar-item-" + i;
                    var subsubId = "subsub-" + i;
                    var navbarItem = document.getElementById(navbarItemId);
                    var subsubMenu = document.getElementById(subsubId);
                    if (navbarItem && subsubMenu) {
                        var visibleMenu = subsubMenu.childNodes[0].childNodes[0];
                        visibleMenu.style.width = navbarItem.offsetWidth + "px";
                        var positionOfLink = navbarItem.getBoundingClientRect();
                        visibleMenu.style.marginLeft = positionOfLink.left + "px";
                    }
                }
            },
            openSubsubNavigation: function(index) {
                Vue.set(this.subsubMenuVisible, index, true);
            },
            closeSubsubNavigation: function(index, event) {
                if (event.relatedTarget && !event.relatedTarget.classList.contains("subsub-nav-item")) {
                    Vue.set(this.subsubMenuVisible, index, false);
                }
            },
            preHighlightSelectedLinkBackground: function(index, subsubItem) {
                var itemId;
                if (!subsubItem) {
                    itemId = "navbar-item-" + index;
                }
                else {
                    itemId = "subsub-item-" + index;
                }
                var item = document.getElementById(itemId);
                item.classList.add('selected-link');
            }
        }
    }
</script>