<template>
	<nav id="how-to-apply-subnav-menu" class="is-hidden-mobile subsubnav" data-menu-underline-from-center>
        <div class="navbar-brand" >
            <div class="navbar-item visible-menu" @mouseleave="$parent.closeSubsubNavigation(index, $event)">
                <ul>
                    <a
                        v-for="(item, subsubItemIndex) in subsubItems" 
                        :href="item.link"
                    >
                        <li 
                            :id="'subsub-item-' + subsubItemIndex"
                            class="underline-from-center subsub-nav-item" 
                            :class=""
                            v-html="item.name"
                            :class="item.active=='selected-link' ? 'selected-link' : ''"
                            @click="$parent.preHighlightSelectedLinkBackground(subsubItemIndex, true)"
                            ></li>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
	export default {
        name: 'Subsub',
        mounted() {
        },
        props: [
            'subsubItems',
            'index'
        ],
    }
</script>