/*
	home.less
*/

//https://trello.com/c/zHV9GWk7/84-homepage

//headings
.home-box-heading {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	position: relative;
	text-transform: uppercase;
	z-index: 2;
}
.overhang-heading-100{
	bottom:100%;
}
.overhang-heading-70{
	bottom:70%;
}
.overhang-heading-50{
	bottom:50%;
}
.heading-column{
	@media @mobile {
		padding-bottom: 0;
		padding-top: 0;
  	}
}

//buttons
.home-button {
	text-align: center;
	font-weight: bold;
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-transform: uppercase;
	border-radius: 6px;
	font-weight: 500;
}
.home-wide-button{
	margin: 50px 20%;
	width: 60%;
}

//-----HERO_SECTION-----
.home-callouts-full-width {
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  background-position: left bottom;
  padding-top: 33.37%;
  position: relative;
  margin-bottom: 100px;
  top: -5px;
  @media @mobile {
	height: auto;
	background-position: left top;
	margin-bottom: 50px;
  }
}
.home-callouts {
	display: flex;
	align-items: flex-end;
	margin: 0 auto;
	top: -12px;
	position: relative;
	@media @mobile{
		width: 100%;
		top: 0px;
  }
}
#home-hero {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  position: relative;
  @media @mobile {
	padding-top: 33%;
	background-size: contain;
	background-position: top;
  }
}
#home-hero-callouts {
	display: flex;
	align-items: flex-end;
	margin: 0 auto;
	position: relative;
	@media @mobile {
		width: 100%;
		top: 0px;
  }
}
.article-callout {
  background-color: rgba(38, 38, 38, 0.8);
  position: relative;
  z-index: 2;
  text-align: center;

  h1{
  	color: #fff;
  	font-size: 45px;
  }
  @media @mobile {
  	background-color: rgba(38, 38, 38, 1);
	position: static;
	z-index: 0;
	width: 100vw;
  }
}

#home-internal-ad{
	background-color: #f2f2f2;
	text-transform: capitalize;
	text-align:  center;
	display: grid;
	p{
		color: #404040;
		margin:10px 0;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 17px;
		font-weight: 700;
		font-style: italic;
	}
}

//-----STATS_SECTION-----
#home-stats {
	margin-top: 25px;
	margin-bottom: 50px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;

	h3{
		text-align: center;
		font-size: 18px;
		color: rgb(97,87,139);
		text-transform: uppercase;
		font-weight: bold;
		height: 54px;
		margin-top: 10px;
		margin-bottom: 0;
	}
	p{
		line-height: 20px;
		font-size: 15px;
		color: black;
		margin-top: 5px;
		margin-bottom: 5px;
	}

  @media @mobile {
	margin: 0;
  }
}

//-----MAJORS_SECTION-----
#home-majors {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#home-majors-content{
	padding-top: 50px;
    padding-bottom: 100px;
}
.home-majors-tile{
	margin: 25px 0;
	background-color: rgba(50,50,50,0.8);
	text-align: center;
	padding: 5px 80px;
	.is-h1-like{
		color: white;
    	line-height: 1;
    	font-size: 45px;
	}
	p{
		color: rgb(219,217,214);
		font-weight: bold;
		font-size: 12px;
	}
	a{
		color: #209cee;
	}
}
.padded-pipe{
	padding: 0 2px;
}

//-----EVENTS_SECTION-----
#home-events{
	padding-top: 25px;
	padding-bottom: 75px;
}

#home-events-featured-heading{
	top:100%;
}

#home-events-featured{
    background-size: cover;
    background-position: center;
    padding-top: 250px;
}

#home-events-featured-info{
    background-color: #61578bcc;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
   
    .is-h2-like{
    	margin: 0;
	    color: white;
	    font-size: 32px;
	    font-weight: 500;
    }
    p{
		margin: 0;
	    color: white;
	    font-weight: 400;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}
#home-events-upcoming{
	padding-top: 66px;
	padding-left: 100px;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	@media @tablet {
	  	padding-left: 0;
  	}
	@media @mobile {
		padding-top: 15px;
  }
}
#home-events-upcoming-heading{
	margin-bottom: 25px;
}
.home-events-upcoming-info{
	@media @mobile {
		padding: 0px 25px;
  	}
}
.home-events-upcoming-date-month{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    line-height: 1;
    font-weight: 600;
}
.home-events-upcoming-date-day{
    font-size: 45px;
    line-height: 0.7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}
.home-events-upcoming-content{
	text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.home-events-upcoming-content-title{
    font-weight: 600;
    color: #40797e;
    margin: 0;
    font-size: 18px;
    line-height: 1;
}
.home-events-upcoming-content-link{
    font-weight: 500;
    font-size: 14px;
}

//-----NEWS_SECTION-----
.home-news,.carousel-index-container{
	.columns,.column{
		margin:0px;
		padding:0px;
	}
}
.home-news{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	@media (min-width: 1024px) {
	margin-top: 250px;
	}
	padding-left: 25px;
	padding-right: 25px;
}
.home-news-carousel-item{
	background-size: cover;
	background-position: center;
	margin-top: 50px;
	background-color: rgba(0,0,0,0.5);
}
.home-details-container {
		@media @mobile {
			text-align: center;
		}
		.is-h3-like,.is-h4-like{
			color: #fff;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-weight: 500;
		}
		.is-h3-like{
			margin: 10px auto;
			font-size: 35px;
		}
		.is-h4-like{
			margin: auto auto;
			font-size: 15px;
			font-style: italic;
		}
		.date{
			font-weight: bold;
		}
		.news-carousel-button{
			padding-right: 60px;
			padding-left: 60px;
		}
}
#home-news-carousel-items{
	.taylor-prev { 
		position: relative;
		top: 40%;
		@media @mobile {
		margin-right: 40px;
		}
	}
	[dir='rtl'] .taylor-prev {
		position: relative;
		top: 40%;
		left: auto;
	}
	.taylor-next {
		position: relative;
		top: 40%;
		@media @mobile {
		margin-left: 40px;
		}
	}
	[dir='rtl'] .taylor-next {
		position: relative;
		top: 40%;
		right: auto;
	}
}
.carousel-index-container{
	position: relative;
	z-index: 6;
	top: -100px;
	right: 50px;
	.carousel-index{
		margin-top:40px;
		.taylor-dots {
			float: right;
			line-height: 52px;
			padding: 0;
			margin: 0;
		}

		.taylor-dots li button {
			max-width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 2px solid #FFF;
			background: Transparent;
			transition: all 0.5s;
			display: inline-block;
			font: 0px/0px tahoma;
		}

		.taylor-dots li {
			display: inline-block;
			vertical-align: middle;
			padding: 0 2px;
		}

		.taylor-dots li.slick-active button {
			background: #FFF;
		}
	}
}

//-----RESEARCH_SECTION-----
#home-research{
	margin-top: 100px;
	margin-bottom: 100px;
	@media @mobile{
		margin-top: 0;
		margin-bottom: 0;
	}
}
.home-research-content{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

	.is-h3-like{
		line-height: 1.2;
		//width: 75%;
		@media @tablet {
	  		width: auto;
  		}
	}
	a{
		font-weight: 500;
	}
	img{
		margin-top: 50px;
		height: 100px
	}
	.project-type {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-top: 17px;
        font-size: 14px;
        color: @text-purple;
        text-transform: uppercase;
        font-weight: bold;
      }
}

//-----WHO_WE_ARE_SECTION-----
#home-who-we-are{
	background-color: rgb(35,35,37);

	h3{
		color:rgb(169,147,112);
		line-height: 1.1;
	}
	p{
		line-height: 1.2;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 15px;
		color: #fff;
	}
	img{
		width: 75%;
		margin:0 25%;
	}
}
#home-who-we-are-content{
	padding-bottom: 100px;

	@media @mobile {
		padding-top: 60px;
		padding-left: 25px;
		padding-right: 25px;
  	}
}

//-----VIDEOS_SECTION-----
#home-videos{
	margin-top: 100px;
	margin-bottom: 100px;
	h4{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: center;
		color: #a99370;
		font-size:17px;
		margin-top: 15px;
		margin-bottom: 75px;
	}
}
#home-videos .tabs ul {
    border-bottom-color: #61578b;
    border-bottom-width: 5px;
}
#home-videos .tabs li.is-active a {
    background-color: #61578b;
    border-color: #61578b;
    color: #fff;
}
#home-videos .tabs a:hover {
    background-color: #61578b;
    border-color: #61578b;
    color: #fff;
    text-decoration: none;
}
#home-videos .tabs a {
    border-bottom-color: #61578b;
    border-bottom-style: solid;
    color: #a99370;
    border: 0;
    border-radius: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
}
#popular-videos{
	margin-right: 100px;
    margin-left: 50px;
    font-size: 15px;
}
#home-videos-tabs-content .columns {
  display: none;
}

#home-videos-tabs-content .columns.is-active {
	display: flex;
	@media @mobile {
		display: block;
	}
}

.youtube {
	background-color: #000;
	margin-bottom: 30px;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;

	img {
		width: 100%;
		top: -16.82%;
		left: 0;
		opacity: 0.7;
	}
	.play-button {
		width: 90px;
		height: 60px;
		background-color: #333;
		box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
		z-index: 1;
		opacity: 0.8;
		border-radius: 6px;
	}
	.play-button:before {
		content: "";
		border-style: solid;
		border-width: 15px 0 15px 26.0px;
		border-color: transparent transparent transparent #fff;
	}
}
.youtube img,
.youtube .play-button {
	cursor: pointer;
}
.youtube img, 
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
	position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

//-----SOCILA_MEDIA_SECTION-----

#home-social_media{
	background-color: #61578b;
	line-height: 0;
	margin-bottom: 100px; 
	.tile.is-ancestor{
		margin: 0px;
	}
	.tile.is-parent{
		padding: 0px;
	}
	.tile.is-child{
		margin-bottom: 0px !important;
	}
	.tile.is-child.image-tile{
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEjpMcPgAAAABJRU5ErkJggg==) repeat;
	}
	.tile.is-child.last{
		background-color: #fff;
	}

}
.home-social-tile{
	padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}
.home-social-tile-content{
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#home-social_media .column{
	padding:0;
}
#home-social-medial-life-at-taylor{
	background-color: #61578b !important;
	h3{
		text-transform: uppercase;
		line-height: 1;
		text-align: left;
		color: white;
		font-weight: 400;
		font-size: 25px;
	}
	span{
		font-weight: 600;
		font-size: 40px;
	}
	@media @mobile{
		height: 100vw;
	}
}
#home-social-media-see-more{
	@media @mobile{
		height: 100vw;
	}
}