/*
	major-description.less
*/

#major-description{
    margin-bottom: -47px;
}

.major-minors-list{
  @media (min-width: 1024px) {
  padding-left: 100px;
  padding-right: 100px;
  }
  li{
    padding: 7px 0px;
  }
  a {
    color: white;
    &:hover {
      color: @bright-blue;
    }
    &:focus {
      color: @bright-blue;
    }
  }
}
.majors-list{
  @media (min-width: 1024px) {
    text-align: right;
    h3{
      text-align: right;
    }
  }
}
.minors-list{
  @media (min-width: 1024px) {
    text-align: left;
    h3{
      text-align: left;
    }
  }
}
.majors-list,.minors-list{
  @media (max-width: 1023px) {
    text-align: center;
    h3{
      text-align: center;
    }
  }
}