/*
	majors.less
*/

#majors-page-widget {
  //https://trello.com/c/F6hjejGi/22-four-column-list-pages-redesign
  ul {
    list-style-type: none;
  }
  .columns,.column,ul {
      margin: 0px;
      padding: 0px;
    }

  .majors-box {
    @media (min-width: 1216px) {
      border: 1px solid @medium-dark-gray;
    }
  }
  .majors-heading-block {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    font-weight: 425;
    font-size: 18px;
    min-width: 247px;
  }
  #majors-filter {
    @media (min-width: 767px) {
      margin-top: 70px;
    }
    @media (max-width: 766px) {
      margin-top: 40px;
      }
    padding: 12px 50px 12px 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: @text-purple;
    font-weight: bold;
    border: 1px solid @medium-dark-gray;
    .svg-arrow-container {
      height: 10px;
      width: 18px;
      display: inline;
      float: right;
    }
  }
  #minor-only{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: @text-purple;
    margin-bottom: 0px;
  }
  #filter-content {
    border-right: 1px solid @medium-dark-gray;
    border-bottom: 1px solid @medium-dark-gray;
    border-left: 1px solid @medium-dark-gray;
    padding: 20px 50px 20px 50px;
    #select-deselect-all{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      color: @new-blue;
      letter-spacing: 0.5px;
      font-weight: bold;
      border-bottom: 1px solid @medium-dark-gray;
      padding-bottom: 20px;
      margin-bottom: 20px;
      
      .pad-choices{
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    ul {
      li{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: @text-purple;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  #all-major-lists{
    .major-heading{
      margin-top: 120px;
    }
  }
  .list-of-majors {
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
      li {
        padding: 16px 0px 16px 0px;
        margin: 0px;
        list-style-type: none;
        a {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 18px;
          color: @green;
          font-weight: 400;
          &:hover {
            color: @green;
          }
          &:focus {
            color: @green;
          }
        }
      }
    }
    .right-column {
      @media (min-width: 767px) {
        margin-left: 40px;
        padding-left: 40px;
        border-left: 1px solid @medium-dark-gray;
      }
    }
  }
}

input[type="checkbox"].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type="checkbox"].css-checkbox + label.css-label {
  padding-left: 30px;
  height: 26px;
  display: inline-block;
  line-height: 26px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 26px;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"].css-checkbox:checked + label.css-label {
  background-position: 0 -26px;
}

label.css-label {
  background-image: url('./css_checkbox.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.is-vertical-center {
  vertical-align: middle;
}