/*
	person.less
*/
#person-template{
  margin-bottom: -108px;
}
#person-details{
  ul,p{
    margin: 0px;
    padding: 0px;
  }
  #person-heading{
    text-align: center;
    margin-bottom: 50px;
    h1{
      padding-bottom: 0px;
      @media (min-width: 1024px) {
      margin-bottom: 0px;
      }
      @media (max-width: 1024px) {
        margin-bottom: 20px;
      }
      @media (max-width: 1024px) {
      line-height: 40px;
      }
    }
    #sub-heading{
      font-size: 18px;
      color: @green;
      font-style: italic;
    }
  }
  #social{
    margin-top: 80px;
    .item{
      vertical-align: bottom;
      i{
        font-size:30px;
        float: right;
      }
    }
  }
  .person-box {
    @media (min-width: 767px) {
      border: 1px solid @medium-dark-gray;
    }
    @media (min-width: 767px) {
      padding: 0px 40px 20px 40px;
    }
    margin: 20px 0px 0px 0px;
    .title{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
    ul{
      list-style-type: none;
      li{
        margin-bottom: 20px;
      }
    }

    .contents{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: @purple;
      .lihead{
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .person-heading-block {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      vertical-align: middle;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
    }
  }

  #profile-image,#resume{
    width: 275px;
    @media @mobile {
    margin-right: auto;
    margin-left: auto;
    }
  }
  #profile-image{
    img{
      width: 275px;
    }
  }

  #resume {
    text-align: left;
    margin-top: 40px;
    text-align: center;
    a.button {
      font-weight: bold;
      text-transform: uppercase;
      height: 49px;
      @media (min-width: 767px) {
      width: 275px;
      }
    }
  }

  #specialties{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 40px 0px 0px 0px;
    .head{
      text-transform: uppercase;
      font-weight: 600;
    }
    ul{
      margin-top: 20px;
      padding-left: 20px;
      li{
        text-transform: capitalize;
      }
    }
  }

}