/*
	taylor_main.less
*/

//	Local LESS files
@mobile: ~"(max-width: 768px)";
@tablet: ~"(max-width: 1023px)"; 

@media(max-width: 767px) {
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
}
.article-title-stories.article-callout{
  @media(max-width: 767px) {
    h1{
      font-size: 24px;
    }
  }
}

.collapse-early {
  @media (max-width: 1216px) {
    flex-direction: column;
    display: flex;
  }
}
.has-text-uppercase{
  text-transform: uppercase;
}
.has-text-bottom{
  vertical-align: bottom;
}

/*
Some pages have designs where the elements within the main-description class must span across the entire screen on mobile.
Since this class use widely across the site I'm making the following classes as an alternative. If you want the same padding as the main-description for
some of the elements within the alt-description class, the wrap it in a div and assign the include-padding class to it.
Justin Kubicek
justin@ethode.com
*/

.alt-description {
	padding-top: 4%;
	padding-bottom: 15%;
	background-color: white;
	font-family: "Times";
	font-size: 20px;
	text-align: left;
  text-justify: inter-word;

    @media @mobile {
		margin-top: 0;
    }
    .standard-template h3 {
      @media (max-width: 1023px) {
        text-align: center;
      }
    }
    
    .standard-template h1 {
        margin-bottom: 55px;
    }
    
    .full-width-template {
        padding-bottom: 0px;
        background-color: #f2f2f2;
    }
    
    .full-width-template h1 {
        margin-bottom: 0;
    }

    .include-padding{
      @media (max-width: 1024px) {
        padding-left: 15%;
        padding-right: 15%;
      }
    }

    @media (min-width: 1024px) {
        padding-left: 15%;
        padding-right: 15%;
    }
}

/* This was originally designed for use on the employee pages. It is being repurposed now for the major pages as well.
*/

.dark-full-width,.white-full-width {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  h3{
    color: @gold;
  }
  .columns,.column{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  ul,li{
    margin: 0px;
    padding: 0px;
  }
  .dark-images-container,.white-images-container {
    margin-top: 60px
  }
  .dark-content,.white-content{
    @media @mobile {
    padding-left: 15%;
    padding-right: 15%;
    }
  }
}
.dark-full-width{
  color: white;
  background-color: rgb(38, 38, 38);
  padding-top: 60px;
  padding-bottom: 60px;
}
.white-full-width{
  background-color: #fff;
  color: #4a4a4a;
}

.dark-heading-block,.heading-block,.white-heading-block {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  min-width: 200px;
  @media (max-width: 1024px) {
  padding: 3px;
  }
}
.dark-heading-block{
  margin: -60px auto 20px auto;
}
.white-heading-block{
  margin: -2px auto 20px auto;
}
.heading-block{
  margin: -10px auto 20px auto;
}


/* Callout box */

.callout-box-heading {
  top: -20px;
  position: relative;
  z-index: 2;
}
.callout-box {
  margin-top: 80px;
  @media (min-width: 1216px) {
    border: 1px solid @medium-dark-gray;
  }
}
.callout-container{
  .columns{
    padding:0px;
    margin:0px;
    .column{
      padding:0px;
      margin:0px;
    }
  }
}
.callout-heading-block {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  min-width: 185px;
}
.callout {
  padding: 0px 40px 20px 40px;
}
.callout-details {
  ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
  }
  .item{
    margin: 20px 0px;
  }
  .program-title,.major-title {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: @text-purple;
      font-weight: bold;
      a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: @text-purple;
        font-weight: bold;
        &:hover {
        color: @deeper-blue;
        }
        &:focus {
        color: @deeper-blue;
        }
      }
    }
    .program-title{
      text-transform: uppercase;
    }
  p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: @text-purple;
    a {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      // color: @green;
      color: @blue;
      font-weight: 400;
      &:hover {
      //   color: @green;
      color: @deeper-blue;
      }
      &:focus {
      //   color: @green;
      color: @deeper-blue;
      }
    }
  }
}

/* Taylor Slick Arrows */
#single-item,#home-news-carousel-items{
/* Arrows */
.taylor-prev,
.taylor-next
{
    font-size: 0;
    line-height: 0;
    //display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.taylor-prev:hover,
.taylor-prev:focus,
.taylor-next:hover,
.taylor-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.taylor-prev:hover:before,
.taylor-prev:focus:before,
.taylor-next:hover:before,
.taylor-next:focus:before
{
    opacity: 1;
}
.taylor-prev.taylor-disabled:before,
.taylor-next.taylor-disabled:before
{
    opacity: .25;
}

.taylor-prev:before,
.taylor-next:before
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;

    opacity: .75;
    color: @bright-blue;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.taylor-prev:before
{
    content: '<';
}
[dir='rtl'] .taylor-prev:before
{
    content: '>';
}

.taylor-next:before
{
    content: '>';
}
[dir='rtl'] .taylor-next:before
{
    content: '<';
}
}

#single-item{
  .taylor-prev,.taylor-next{
    position: absolute;
    top: 50%;
    display: block;
  }
  .taylor-prev
  {
      @media (min-width: 1024px) {
      left: -150px;
      }
      @media (min-width: 769px) {
      left: -75px;
      }
      @media @mobile {
      left: -25px;
      }
  }
  [dir='rtl'] .taylor-prev
  {
      @media (min-width: 1024px) {
      right: -150px;
      }
      @media (min-width: 769px) {
      right: -75px;
      }
      @media @mobile {
      right: -25px;
      }
      left: auto;
  }
  .taylor-next
  {
      @media (min-width: 1024px) {
      right: -150px;
      }
      @media (min-width: 769px) {
      right: -75px;
      }
      @media @mobile {
      right: -25px;
      }
  }
  [dir='rtl'] .taylor-next
  {
      @media (min-width: 1024px) {
      left: -150px;
      }
      @media (min-width: 769px) {
      left: -75px;
      }
      @media @mobile {
      left: -25px;
      }
      right: auto;
  }
}