<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
    <base href="http://wwwpprd.taylor.edu/" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Taylor University is a Liberal Arts Christian College in Indiana.">

    <title>Events | Taylor University</title>

    <!-- Fonts and Styles -->
    <link rel="stylesheet" type="text/css" href="//sharedpprd.taylor.edu/application/themes/taylor-modernization/css/app.css?8572234">
    <link href="/DOTLESS//sharedpprd.taylor.edu/application/themes/taylor-modernization/css/taylor_less.css?6080755" rel="stylesheet"
    />
    <link href="/DOTSASS//sharedpprd.taylor.edu/application/themes/taylor-modernization/css/taylor_sass.css?8043133" rel="stylesheet"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//sharedpprd.taylor.edu/application/themes/taylor-modernization/fonts/foundation-icons.css?9739310" rel='stylesheet'
        type='text/css'>

</head>


<body>
    <div id="app">






        <div class="modal" v-bind:class="{ 'is-active': showModal }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <div class="level modal-card-head-top">
                        <div class="level-left">
                            <div class="level-item">
                                <p class="modal-card-title">Search Results</p>
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <a href="/external-algolia-home" target="_blank" rel="noopener">
                                    <img class="algolia-logo" width="20" src="/img/algolia-mark-black.svg">
                                </a>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a class="close-button modal-default-button" @click="showModal = false; query = ''" aria-label="close">CLOSE</a>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="field has-addons full-width modal-card-head-bottom">
                        <div class="control is-expanded search-bar-height-large">
                            <input id="modal-search-input" v-model="query" class="input" type="search" autocomplete="off">
                        </div>
                    </div>
                </header>
                <section class="modal-card-body">
                    <div class="search-dropdown-inner">
                        <div class="search-popup-menu" class="menu">
                            <ais-index app-id="QDEN395JR2" api-key="e957ba5166af2c13b29e3c599f2946a0" index-name="studies_pages" :query-parameters="{query: query}">
                                <ais-results inline-template :results-per-page="3">
                                    <div>
                                        <p slot="header" class="menu-label">Courses</p>
                                        <ul class="menu-list">
                                            <li v-for="result in results" :key="result.objectID">
                                                <a :href="result.page_Uri">
                                                    <strong>{{ result.pageTitle }}</strong>
                                                    <br>{{ result.page_Meta_Description }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </ais-results>
                            </ais-index>
                            <ais-index app-id="QDEN395JR2" api-key="e957ba5166af2c13b29e3c599f2946a0" index-name="other_pages" :query-parameters="{query: query}">
                                <ais-results inline-template :results-per-page="3">
                                    <div>
                                        <p slot="header" class="menu-label">Other</p>
                                        <ul class="menu-list">
                                            <li v-for="result in results" :key="result.objectID">
                                                <a :href="result.page_Uri">
                                                    <strong>{{ result.pageTitle }}</strong>
                                                    <br>{{ result.page_Meta_Description }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </ais-results>
                            </ais-index>
                        </div>
                        <!-- search-popup-menu -->
                    </div>
                    <!-- search-dropdown-inner -->
                </section>
                <!-- modal-card-body -->
            </div>
            <!-- modal-card -->
        </div>
        <!-- modal -->














        <nav id="menu" class="menu slideout-menu is-hidden-tablet">



            <slideout-nav-section section="" :items="[
                        { name: 'Admission', link: '/admission'                                            },                                    { name: 'How To Apply', link: '/how-to-apply/'                                            , subsub: [                {name: 'Overview', link: '/how-to-apply/' },                                { name: 'Homeschooled', link: '/how-to-apply/homeschooled' },                                { name: 'Missionary &<br> Third Culture', link: '/how-to-apply/missionary-and-third-culture' },                                { name: 'International', link: '/how-to-apply/international' },                                { name: 'Transfer', link: '/how-to-apply/transfer' }                ]
                                },                                    { name: 'Visit Taylor', link: '/visit'                                            , subsub: [                {name: 'Overview', link: '/visit' },                                { name: 'Saturday Visits and Office Closures', link: '/visit/saturday-visits-and-office-closures' }                ]
                                },                                    { name: 'Tuition & Funding', link: '/tuition-and-funding'                                            , subsub: [                {name: 'Overview', link: '/tuition-and-funding' },                                { name: 'Scholarships', link: '/scholarships' },                                { name: 'Financial Aid', link: '/financial-aid' }                ]
                                }                        ]"></slideout-nav-section>
            <slideout-nav-section section="" :items="[
                        { name: 'Majors', link: '/majors'                                            },                                    { name: 'Graduate', link: '/graduate'                                            , subsub: [                {name: 'Overview', link: '/graduate' },                                { name: 'MAHE', link: '/graduate/master-of-arts-in-higher-education' },                                { name: 'MBA', link: '/graduate/master-of-business-administration' }                ]
                                },                        { name: 'Faith & Learning', link: '/faith-and-learning'                                            },                        { name: 'Online', link: '/online'                                            },                                    { name: 'Special Programs', link: '/special-programs'                                            , subsub: [                {name: 'Overview', link: '/special-programs' },                                { name: 'Health Professions Advising', link: '/special-programs/health-professions-advising' },                                { name: 'Honors Guild Curriculum', link: '/special-programs/honors-guild-curriculum' },                                { name: 'Systems Curriculum', link: '/special-programs/systems-curriculum' }                ]
                                },                        { name: 'Accepted', link: '/accepted'                                            }                        ]"></slideout-nav-section>
            <slideout-nav-section section="" :items="[
                        { name: 'Opportunities', link: '/opportunities'                                            },                                    { name: 'Study Abroad', link: '/study-abroad'                                            , subsub: [                {name: 'Overview', link: '/study-abroad' },                                { name: 'Participate', link: '/study-abroad/participate' },                                { name: 'Lighthouse', link: '/study-abroad/lighthouse' },                                { name: 'Semester Studies', link: '/study-abroad/semester-studies' },                                { name: 'January Travel Programs', link: '/study-abroad/january-travel-programs' },                                { name: 'Contacts', link: '/study-abroad/contacts' }                ]
                                },                        { name: 'Missions', link: '/missions'                                            },                                    { name: 'High School Programs', link: '/high-school-programs'                                            , subsub: [                {name: 'Overview', link: '/high-school-programs' },                                { name: 'Summer Honors', link: '/high-school-programs/summer-honors' },                                { name: 'Empower', link: '/high-school-programs/empower' }                ]
                                }                        ]"></slideout-nav-section>
            <slideout-nav-section section="" :items="[
                        { name: 'Campus', link: '/campus'                                            },                        { name: 'Traditions', link: '/traditions'                                            },                                    { name: 'Chapel', link: '/chapel'                                            , subsub: [                {name: 'Overview', link: '/chapel' },                                { name: 'Special Services', link: '/chapel/special-services' },                                { name: 'Sunday Worship', link: '/chapel/sunday-worship' }                ]
                                },                        { name: 'Residence Life', link: '/residence-life'                                            },                        { name: 'Discipleship', link: '/discipleship'                                            },                        { name: 'Spiritual Development', link: '/spiritual-development'                                            },                        { name: 'Athletics', link: '/athletics'                                            }                        ]"></slideout-nav-section>

            <section class="menu-section">
                <h3 class="menu-section-title">for</h3>
                <ul class="menu-section-list menu-list">
                    <li>
                        <a href="/external-current-students">Current Students</a>
                    </li>
                    <li>
                        <a href="/external-alumni">Alumni</a>
                    </li>
                    <li>
                        <a href="/external-faculty">Faculty</a>
                    </li>
                    <li>
                        <a href="/external-parents">Parents</a>
                    </li>
                    <li>
                        <a href="/external-give">Give</a>
                    </li>
                </ul>
            </section>

        </nav>




        <Slideout @on-translate="slideoutOnTranslate" @on-beforeopen="slideoutOnBeforeOpen" @on-beforeclose="slideoutOnBeforeClose"
            @on-open="slideoutOnOpen" @on-close="slideoutOnClose" menu="#menu" panel="#panel" :toggle-selectors="['#slideout-toggle-one']"
            side="right">

            <div id="full-nav" class="full-nav nav-down">

                <div class="is-hidden-mobile">





                    <div class="nav-bar-brandbar-medium-large">
                        <div class="brandbar"></div>
                    </div>

                    <!-- CALL TO ACTION NAVIGATION (medium and large) -->
                    <div class="level navigation top-nav">

                        <!-- CONVERSION NAVIGATION (medium and large) -->
                        <ul class="level-left">
                            <li class="apply-link">
                                <a href="/how-to-apply/">
                                    <small>Apply</small>
                                </a>
                            </li>
                            <li>
                                <a href="http://wwwpprd.taylor.edu/visit/overview">
                                    <small>Visit</small>
                                </a>
                            </li>
                            <li>
                                <a href="/send-me-info">
                                    <small>Request Info</small>
                                </a>
                            </li>
                        </ul>

                        <!-- UTILITY NAVIGATION (medium and large) The word 'For' helps users clarify tasks. Don't remove it. -->
                        <ul class="level-right">
                            <li class="for-word">
                                <small>
                                    <strong>for: </strong>
                                </small>
                            </li>
                            <li>
                                <a href="/external-current-students">
                                    <small>Current Students</small>
                                </a>
                            </li>
                            <li>
                                <a href="/external-alumni">
                                    <small>Alumni</small>
                                </a>
                            </li>
                            <li>
                                <a href="/external-faculty">
                                    <small>Faculty</small>
                                </a>
                            </li>
                            <li>
                                <a href="/external-parents">
                                    <small>Parents</small>
                                </a>
                            </li>
                            <li class="donors-link">
                                <a href="/external-give">
                                    <small>Give</small>
                                </a>
                            </li>
                        </ul>
                    </div>



                </div>






                <div id="nav-initial" class="nav">
                    <!-- MAIN NAVIGATION (large)-->
                    <div id="nav-bar-two-large" class="navigation">

                        <!-- TAYLOR LOGO (large)-->
                        <div id="nav-bar-two-logo-large">

                            <a class="svg nav-bar-two-logo-anchor-large" href="/">
                                <img class="svg " type="image/svg+xml" src="/img/TaylorUniversity.svg" width="1000" alt="Taylor University Logo">
                            </a>

                        </div>
                        <div class="nav-bar-two-small-right-container is-hidden-tablet">
                            <div @click="showSmallSearchBar=true; setMobileSearchSize()" class="nav-bar-two-small-search-button is-hidden-tablet">
                                <div id="search-button">
                                    <a>
                                        <span class="icon has-text-primary is-large magnifying-glass">
                                            <i class="fa fa-lg fa-search"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="nav-bar-two-small-menu-button is-hidden-tablet">
                                <div class="menu-link bold">
                                    <a id="slideout-toggle-one" class="slideout-toggle">
                                        <div :class="navBurgerClassObject" class="navbar-burger is-large">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- CENTERED TAGLINE AND NAVIGAITON (large) -->
                        <div id="nav-bar-two-center-content-column-large">

                            <div class="nav-bar-two-center-content-column-inner-large">

                                <div class="tagline-tablet-up is-size-6-mobile is-size-5-tablet is-size-5-desktop is-hidden-mobile">

                                    <em>A Christian Liberal Arts University, Est. 1846</em>

                                </div>

                                <div class="is-hidden-mobile">

                                    <ul class="menu global-nav-title primary-menu primary-menu-large" id="primary-nav">
                                        <li>
                                            <a class="" href="/admission">Admission</a>
                                        </li>
                                        <li class="gray-pipe">|</li>
                                        <li>
                                            <a class="" href="/majors">Majors</a>
                                        </li>
                                        <li class="gray-pipe">|</li>
                                        <li>
                                            <a class="" href="/opportunities">Opportunities</a>
                                        </li>
                                        <li class="gray-pipe">|</li>
                                        <li>
                                            <a class="" href="/campus">Campus</a>
                                        </li>



                                    </ul>

                                </div>

                            </div>

                        </div>

                        <!-- SEARCH BAR (large) -->
                        <div class="nav-bar-two-right-column-large">
                            <div id="nav-large-search-container" class="field has-addons full-width">
                                <div class="control is-expanded search-bar-height-large">
                                    <input @keyup.enter="showModal=true" v-model="query" class="input" type="search" autocomplete="off">
                                </div>
                                <div class="control">
                                    <button id="show-modal" class="button is-primary" @click="showModal = true">Search</button>
                                </div>
                            </div>





                            <div v-show="query != '' && !showModal" v-cloak id="search-dropdown-container">
                                <div class="search-dropdown-inner">
                                    <div class="search-popup-menu" class="menu">
                                        <a class="algolia-logo-container" href="/external-algolia-home" target="_blank" rel="noopener">
                                            <img class="algolia-logo" width="20" src="/img/algolia-mark-black.svg">
                                        </a>
                                        <p class="menu-label">Courses</p>
                                        <ais-index app-id="QDEN395JR2" api-key="e957ba5166af2c13b29e3c599f2946a0" index-name="studies_pages" :query-parameters="{query: query}">
                                            <ais-results inline-template :results-per-page="3">
                                                <div>
                                                    <ul class="menu-list">
                                                        <li v-for="result in results" :key="result.objectID">
                                                            <a :href="result.page_Uri">
                                                                <strong>{{ result.pageTitle }}</strong>
                                                                <br>{{ result.page_Meta_Description }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </ais-results>
                                            <ais-no-results>
                                                <template>
                                                    No
                                                    <strong>Courses</strong> found.
                                                </template>
                                            </ais-no-results>
                                        </ais-index>
                                        <p class="menu-label">Other Pages</p>
                                        <ais-index app-id="QDEN395JR2" api-key="e957ba5166af2c13b29e3c599f2946a0" index-name="other_pages" :query-parameters="{query: query}">
                                            <ais-results inline-template :results-per-page="3">
                                                <div>
                                                    <ul class="menu-list">
                                                        <li v-for="result in results" :key="result.objectID">
                                                            <a :href="result.page_Uri">
                                                                <strong>{{ result.pageTitle }}</strong>
                                                                <br>{{ result.page_Meta_Description }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </ais-results>
                                            <ais-no-results>
                                                <template>
                                                    No
                                                    <strong>Other Pages</strong> found.
                                                </template>
                                            </ais-no-results>
                                        </ais-index>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
                <div style="display: none" id="nav-during-search" class="nav">
                    <div class="small-search-bar">
                        <div class="menu-link bold">
                            <a id="search-close-button-small" @click="showSmallSearchBar = false; query = ''; unsetMobileSearchSize()">CLOSE</a>
                        </div>
                        <div class="field small-search-field">
                            <div class="control is-expanded">
                                <input v-model="query" id="search-input-small" class="input" type="search">
                            </div>
                        </div>
                    </div>
                </div>


















            </div>
        </Slideout>
    </div>
    <!--/app-->

    <main id="panel" class="panel">





        <div id="page-content">
            <div id="tagline-mobile" class="tagline-mobile is-size-6">
                <em>A Christian Liberal Arts University, Est. 1846</em>
            </div>









            <div class="cover-photo-container">
                <div class="cover-photo" data-interchange="
		[/img/taylor_entrance_s.jpg, small],
		[/img/taylor_entrance_m.jpg, medium],
		[/img/taylor_entrance_l.jpg, large],
		[/img/taylor_entrance_xl.jpg, xlarge],
		[/img/taylor_entrance_xxl.jpg, xxlarge]" alt="Entrance to Taylor University">
                </div>
            </div>

            <div class="container main-section">
                <div class="columns main-description-row">
                    <!--Row that contains site main description, "How To Apply" button, Related Studies thumbnails, and Related Studies text-->

                    <div class="is-10 is-offset-1 column">
                        <div class="breadcrumb-container">

                        </div>

                        <div class="main-description standard-template">







<!-- Events Page Widget -->


                            <div id="events-page-widget">
                                <h1>Events</h1>
                                <div class="event-box" v-if="featuredevents != null">
                                    <div class="columns">
                                        <div class="is-4 column">
                                            <div id="featured-event" class="event-box-heading event-heading-block purple-heading indent-tablet-up">
                                                Featured Event
                                            </div>
                                        </div>
                                    </div>
                                    <!--/columns-->

                                    <template v-for="featuredevent in featuredevents">
                                    <div class="featured-event">
                                        <div class="columns collapse-early">
                                            <div class="is-4 column has-text-centered" v-if="featuredevent.image != null && featuredevent.image != ''">
                                                <img v-bind:src="'/contentAsset/image/' + featuredevent.image + '/fileAsset/filter/Scale,Crop/scale_h/160/crop_w/160/crop_h/160/'" />
                                            </div>
                                            <div class="column event-details">
                                                <h3>{{ featuredevent.title }}</h3>
                                                
                                                <span class="date">{{ featuredevent.startDate | formatDate }}</span>
                                                <p v-if="featuredevent.description != null" v-html="truncateDescription(featuredevent.description)"></p>
                                            </div>
                                        </div>
                                    </div>
                                    </template>

                                </div> <!--/event-box-->
                                <div class="indent-tablet-up section-space">
                                    <div class="columns">
                                        <div class="event-heading-block purple-heading is-4 column is-offset-8">
                                            Important Dates
                                        </div>
                                    </div>
                                    <div id="important-dates">
                                        <!--Event 1-->
                                        <div class="event">
                                            <div class="columns">
                                                <div class="column event-details">
                                                    <h3>Spring Semester Registration Deadline</h3>
                                                    <span class="date">Thursday, April 23rd // 1:00 PM</span>
                                                </div>
                                            </div>
                                            <hr/>
                                        </div>
                                        <!--/Event 1-->
                                        <!--Event 2-->
                                        <div class="event">
                                            <div class="columns">
                                                <div class="column event-details">
                                                    <h3>Spring Recess (No Class, Offices Open)</h3>
                                                    <span class="date">Thursday, April 23rd // 1:00 PM</span>
                                                </div>
                                            </div>
                                            <hr/>
                                        </div>
                                        <!--/Event 2-->
                                    </div>
                                </div>
                                <div id="all-events-container" class="indent-tablet-up section-space" v-if="allevents != null">
                                    <div class="columns">
                                        <div class="event-heading-block purple-heading is-4 column event-box-heading is-offset-8">
                                            All Events
                                        </div>
                                    </div>
                                    <div id="event-top-nav">
                                        <a id="prev-month" @click="prevMonth()" class="is-info nav-button"><</a>
                                            <span id="monthyear">{{ displayedmonth | formatMonth }}</span>
                                        <a id="next-month" @click="nextMonth()" class="is-info nav-button">></a>
                                    </div>
                                    <div id="all-events">
                                        <template v-for="event in displayedevents">
                                        <!--Event-->
                                        <div class="event">
                                            <div class="columns collapse-early">
                                                <div class="column is-4 has-text-centered" v-if="event.image != null && event.image != ''">
                                                        <img v-bind:src="'/contentAsset/image/' + event.image + '/fileAsset/filter/Scale,Crop/scale_h/160/crop_w/160/crop_h/160/'" />
                                                </div>
                                                <div class="column event-details">
                                                    <h3>{{ event.title }}</h3>
                                                    <span class="date">{{ event.startDate | formatDate }}</span>
                                                    <p class="is-hidden-mobile" v-if="event.image != null &&
                                                             event.image != '' &&
                                                             event.description != null" v-html="truncateDescription(event.description)"></p>
                                                </div>
                                            </div>
                                            <hr/>
                                        </div>
                                        <!--/Event-->
                                        </template>
                                        <div id="event-bottom-nav">
                                            <div class="columns">
                                                <div class="column is-6" id="prev-month">
                                                    <div @click="prevMonth()" class="button is-info nav-button">
                                                        <i class="fa fa-caret-left"></i>
                                                        <a>Prev. Month</a>
                                                    </div>
                                                </div>
                                                <div @click="nextMonth()" class="column is-6" id="next-month">
                                                    <div class="button is-info nav-button">
                                                        <a>Next Month</a>
                                                        <i class="fa fa-caret-right"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/all-events-->
                                </div> <!--/all-events-container-->
                                <!--/indent-tablet-up-->
                            </div>
                            <!--/events-page-widget-->

<!-- End Events Page Widget -->


                        </div>
                    </div>

                </div>
            </div>

            <div class="section">
                <div class="container">
                    <div class="columns callout-row">
                        <div class="is-10 is-offset-1 column">

                        </div>
                    </div>
                </div>
            </div>






            <div class="brandbar"></div>
            <footer class="footer" style="background-color:#1d1d1d;">
                <div class="container">
                    <div class="columns">
                        <div class='column is-3'>
                            <ul class='no-bullet footlinks'>
                                <li class='subheader'>
                                    <span class="icon">
                                        <i class="fa fa-address-book"></i>
                                    </span>&nbsp;&nbsp;Contact Information</li>
                                <li>
                                    <a href="/maps-and-directions">
                                        <span>Taylor University</span>
                                        <br>
                                        <span>236 W Reade Ave.</span>
                                        <br>
                                        <span>Upland</span>,
                                        <span>IN</span>
                                        <span>46989-1001</span>
                                    </a>
                                </li>
                                <li>
                                    <span class="icon">
                                        <i class="fa fa-phone"></i>
                                    </span>&nbsp;&nbsp;
                                    <span>800.882.3456</span>
                                </li>
                                <li>
                                    <span>
                                        <small>
                                            <em>Local</em> 765.998.5134</small>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <small>FAX: 765.998.4925</small>
                                    </span>
                                </li>
                                <br>
                                <li>
                                    <span class="icon">
                                        <i class="fa fa-envelope"></i>
                                    </span>&nbsp;&nbsp;Email:
                                    <a href="mailto:admissions@taylor.edu"> admissions@taylor.edu</a>
                                </li>
                                <li>
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>&nbsp;&nbsp;
                                    <a href="/" style="font-style: italic; word-wrap: break-word">www.taylor.edu</a>
                                </li>
                                <li>
                                    <span class="icon">
                                        <i class="fa fa-address-book"></i>
                                    </span>&nbsp;&nbsp;
                                    <a href="/contact">
                                        <small>Contact Us</small>
                                    </a>
                                </li>
                                <li>
                                    <span class="icon">
                                        <i class="fa fa-map"></i>
                                    </span>&nbsp;&nbsp;
                                    <a href="/site-map">
                                        <small>
                                            <em>Site Map</em>
                                        </small>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class='column is-3'>
                            <ul class='no-bullet footlinks'>
                                <li class='subheader'>
                                    <span class="icon">
                                        <i class="fa fa-users"></i>
                                    </span>&nbsp;&nbsp;About Taylor University</li>
                                <li>
                                    <a href="/accreditation">
                                        <small>Accreditation</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://athletics.taylor.edu/" target="_blank">
                                        <small>Athletics</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/centers">
                                        <small>Centers</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/heritage">
                                        <small>Heritage</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/our-history">
                                        <small>History</small>
                                    </a>
                                </li>
                            </ul>
                            <ul class='no-bullet footlinks'>
                                <li class='subheader'>
                                    <span class="icon">
                                        <i class="fa fa-flag"></i>
                                    </span>&nbsp;&nbsp;Administration</li>
                                <li>
                                    <a href="/admissions-office">
                                        <small>Admissions Office</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/bursar">
                                        <small>Bursar</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/cabinet">
                                        <small>Leadership</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/registrar">
                                        <small>Registrar</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class='column is-3'>
                            <ul class='no-bullet footlinks'>
                                <li class='subheader'>
                                    <span class="icon">
                                        <i class="fa fa-star"></i>
                                    </span>&nbsp;&nbsp;Area Info</li>
                                <li>
                                    <a href="/area-lodging">
                                        <small>Area Lodging</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/area-services">
                                        <small>Area Services</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/churches">
                                        <small>Area Churches</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/maps-and-directions">
                                        <small>Maps & Directions</small>
                                    </a>
                                </li>
                            </ul>
                            <ul class='no-bullet footlinks'>
                                <li class='subheader'>
                                    <span class="icon">
                                        <i class="fa fa-compass"></i>
                                    </span>&nbsp;&nbsp;Careers</li>
                                <li>
                                    <a href="/faculty-positions">
                                        <small>Faculty Positions</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/staff-positions">
                                        <small>Staff Positions</small>
                                    </a>
                                </li>
                            </ul>
                            <ul class='no-bullet footlinks'>
                                <li class='subheader'>
                                    <span class="icon">
                                        <i class="fa fa-info-circle"></i>
                                    </span>&nbsp;&nbsp;legal</li>
                                <li>
                                    <a href="/student-consumer-info">
                                        <small>Student Consumer Info</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/terms-of-service">
                                        <small>Terms of Service</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class='column is-3'>
                            <ul class='no-bullet footlinks'>
                                <li class='subheader'>
                                    <span class="icon">
                                        <i class="fa fa-calendar"></i>
                                    </span>&nbsp;&nbsp;News Events</li>
                                <li>
                                    <a href="/news">
                                        <small>News</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.taylor.edu/academics/calendar.shtml">
                                        <small>Calendar</small>
                                    </a>
                                </li>
                            </ul>
                            <ul class='no-bullet footlinks'>
                                <li class='subheader'>
                                    <span class="icon">
                                        <i class="fa fa-headphones"></i>
                                    </span>&nbsp;&nbsp;Radio</li>
                                <li>
                                    <a href="http://wtur.taylormediacomm.com/">
                                        <small>WTUR</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.wbcl.org/">
                                        <small>WBCL</small>
                                    </a>
                                </li>
                            </ul>
                            <ul class='no-bullet footlinks'>
                                <li class='subheader'>
                                    <span class="icon">
                                        <i class="fa fa-plus" style="color: rgb(196, 99, 102);"></i>
                                    </span>&nbsp;&nbsp;Safety Info</li>
                                <li>
                                    <a href="/health-services">
                                        <small>Health Services</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/emergency">
                                        <small>Safety Info</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/police">
                                        <small>Police</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/title-ix">
                                        <small>Title IX</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <small>Weather Alerts</small>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- columns -->
                    <div class="float-left gold-text">FAFSA Code: 001838</div>
                    <br>
                    <br>
                    <div>
                        <small>&copy; 2018 Taylor University</small>
                    </div>
                </div>
                <!-- container -->
            </footer>

        </div>
        <!-- END PAGE CONTENT (started on each page after all nav content - including subnav if applicable) -->

    </main>

    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script src="http://127.0.0.1:5500/virtual/sharedpprd.taylor.edu/application/themes/taylor-modernization/js/app.js"></script>

</body>

</html>