/*
	news.less
*/
//https://bulma.io/documentation/overview/responsiveness/#breakpoints
#news-page-widget {
  //padding-right: 158px;
  //padding-left: 158px;
  h1 {
    //text-align: center;
    //font-size: 60px;
    margin-bottom: 86px;
  }
  .column {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #news-left {
    @media (max-width: 1408px) {
      margin-top: 40px;
      width: 100%;
    }
    #loadspinner {
      text-align: center;
    }
    #show-more {
      text-align: center;
      a.button {
        font-weight: bold;
        text-transform: uppercase;
        height: 49px;
        width: 240px;
      }
    }
    .news-item {
      margin-bottom: 0px;
      margin-left: 11px;
      @media (min-width: 1408px) {
        margin-right: 40px;
        padding-bottom: 77px;
      }
      @media (max-width: 1408px) {
        padding-bottom: 40px;
      }

      .news-content {
        @media (min-width: 1408px) {
          margin-right: 48px;
        }
        margin-bottom: 51px;
        .date {
          font-size: 14px;
          line-height: 14px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: bold;
          color: @bright-blue;
          text-transform: uppercase;
        }
        h3 {
          font-size: 25px;
          margin: 6px 0px 20px 0px;
          //margin-top:6px;
          //margin-bottom: 20px;
          line-height: 30px;
        }
        p {
          font-size: 16px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }
  }
  #search-right {
    #clear-filters {
      color: #007376;
      font-size: 16px;
    }
    #search-news {
      position: relative;
      color: @text-purple;
      #search-term {
        font-size: 14px;
        text-indent: 27px;

        box-sizing: border-box;
        //width: 237px;
        width: 100%;
        height: 58px;
        padding: 23px 0px;
        border: 1px solid @medium-dark-gray;
      }
      #search-icon {
        position: absolute;
        top: 17px;
        right: 19px;
        font-size: 25px;
      }
    }
    .label {
      font-size: 20px;
      color: @text-purple;
      font-weight: 400;
      margin: 8px 0px;
    }
    #mobile-filters {
      ul {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
      }
      .browse-by-topic,
      .browse-by-time {
        .not-active {
          background-color: #f5f5f5;
          a {
            color: #000;
            display: block;
          }
        }
        .is-active {
          background-color: #ac926f;
          a {
            color: #fff;
            display: block;
          }
        }
        .accordion-title {
          font-size: 16px;
          padding: 14px 0px 14px 27px;
          .svg-arrow-container {
            // height: 10px;
            // width: 18px;
            // position: relative;
            height: 15px;
            width: 25px;
            left: -25px;
            top: 3px;
            position: relative;
            display: inline;
            float: right;
          }
        }
        .accordion-content {
          background-color: #fff;
        }
      }
      .browse-by-topic {
        .accordion-content {
          padding-left: 27px;
          dl {
            margin-top: 15px;
            margin-bottom: 15px;
            padding-left: 20px;
            border-left: 1px solid #dcd0c0;
          }
          dl > dd {
            //margin-bottom: 9px;
            margin-bottom: 10px;
            a {
              color: #000;
              font-size: 16px;
              &:hover {
              }
              &:focus {
              }
            }
          }
        }
      }
      .browse-by-time {
        dl > dd {
          margin: 0px 34px 5px 0px;
          padding: 0px;
          display: inline;
          float: left;
          //width: 70px;
          text-align: center;
          a {
            font-size: 14px;
            color: @dark-gray;
            padding: 0px 0px 2px 0px;
            border-bottom: 1px solid @dark-gray;
            &:hover {
              /* some rules */
            }
            &:focus {
              /* some rules */
            }
          }
        }
        .times-action {
          a {
            margin: 0px;
            padding: 0px;
            font-size: 14px;
            font-weight: bold;
            color: @bright-blue;
            text-transform: uppercase;
            &:hover {
              /* some rules */
            }
            &:focus {
              /* some rules */
            }
          }
        }
      }
    }
    #browse-by-topic {
      margin-top: 74px;
      dl > dd {
        margin-bottom: 9px;
        a {
          color: #007376;
          font-size: 16px;
          &:hover {
            /* some rules */
          }
          &:focus {
            /* some rules */
          }
        }
      }
    }
    #browse-by-time {
      margin-top: 105px;
      #times {
        border-color: @medium-dark-gray;
        border-style: solid;
        border-width: 1px;
        padding: 17px 0px 17px 30px;
        dl > dd {
          margin: 0px 34px 5px 0px;
          padding: 0px;
          display: inline;
          float: left;
          width: 70px;
          text-align: center;
          a {
            font-size: 14px;
            color: @dark-gray;
            padding: 0px 0px 2px 0px;
            border-bottom: 1px solid @dark-gray;
            &:hover {
              /* some rules */
            }
            &:focus {
              /* some rules */
            }
          }
        }
        #times-action {
          margin-top: 17px;
          a {
            margin: 0px;
            padding: 0px;
            font-size: 16px;
            font-weight: bold;
            color: @bright-blue;
            text-transform: uppercase;
            &:hover {
              /* some rules */
            }
            &:focus {
              /* some rules */
            }
          }
        }
      }
    }
    hr {
      margin: 18px 0px;
      padding: 0px;
      color: @medium-dark-gray;
    }
    .hide {
      display: none;
      visibility: hidden;
    }
  }

  @media (max-width: 1408px) {
    .to-mobile {
      flex-direction: column-reverse;
      display: flex;
    }
    .is-hidden-desktop-down {
      display: none !important;
    }
  }
}
#news-details {
  #news-metadata {
    margin-top: 0px;
    margin-bottom: 60px;
    ul {
      list-style-type: none;
      margin-top: 0px;
      margin-bottom: 0px;
      li {
        margin-bottom: 10px;
      }
    }
    .detail-heading,
    .detail-data {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: @text-purple;
    }
    .detail-heading {
      text-transform: uppercase;
      font-weight: 400;
    }
    .detail-data {
      font-weight: bold;
      p {
        margin: 0px;
        padding: 0px;
      }
    }
  }
  #image-caption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: @text-purple;
    font-weight: bold;
    p {
      margin: 0px;
      padding: 0px;
    }
  }
}
