/*
	responsive-tables.less
*/

.taylor-table-v1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    th {
        font-size: 20px;
        color: #fff;
        @media (max-width: 1023px) {
            font-size: 16px;
            padding: 15px 20px;
            text-align: center;
        }
        @media (min-width: 1024px) {
            font-size: 20px;
            padding: 15px 40px;
        }
        p{
            padding:0px;
            margin:0px;
        }
        a {
            color: #fff;;
            &:hover {
              color: @bright-blue;
            }
            &:focus {
              color: @bright-blue;
            }
          }
    }
    .teal{
        background-color: @teal;
    }
    .gold{
        background-color: @gold;
    }
    tr{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    td{
        font-size: 16px;
        padding: 15px 17px;
        color: @text-purple;
        text-align: left;
    }
    .off-white{
        background-color: @off-white;
    }
    &.table-space{
        margin-bottom: 60px;
    }
}
.table-bottom-text{
        margin-top: 0;
        padding-top: 0;
        margin-left: 15px;
}