// 1. Import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables"; // Framework initial variables

// 2. Set initial variables 
$text-purple: rgb(97,87,139);
$purple: rgb(97,87,139);
$gold: rgb(174,147,108);
$blue: rgb(23,121,186);
$deeper-blue: rgb(0,70,116);
$new-blue: rgb(83,200,235);
$turquoise: rgb(98,198,192);
$red: rgb(195,98,102);
$yellow: rgb(251,174,59);
$green: rgb(127,198,120);
$dark-green: rgb(0,116,118);
$orange: rgb(251,174,59);
$light-gray: rgb(242,242,242);
$medium-gray: rgb(219,217,214);
$medium-dark-gray: rgb(225,225,230);

$family-serif: Times, serif;
$family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

// 3. Set derived variables
$primary: $purple;
$link: $blue;
$danger: $orange;
$nav-secondary-color: $gold;

// Use the new serif family
$family-primary: $family-sans-serif;

// Set modal variables
$modal-card-spacing: 1px;

// 4. Import the rest of Bulma
@import "node_modules/bulma/bulma"; // Framework

// 5. Import other dependencies
@import "node_modules/font-awesome/scss/font-awesome"; // Icon Font

/*-- Bulma's Breakpoints --*/
// mobile: <= 768px
// tablet: <= 1023px
// desktop: <= 1215px
// widescreen: <= 1407px
// fullhd: > 1407px

//6. Import Slick Styles

@import "node_modules/slick-carousel/slick/slick.scss"; // Default Slick Styling
@import "node_modules/slick-carousel/slick/slick.scss"; // Default Slick Styling

/*---------------OVERRIDING (OR ADDING TO) BULMA STYLES----------------*/

a:hover {
	color: $deeper-blue;
}

.top-bar {
  background-color: $light-gray;
}

.top-bar ul {
  background-color: $light-gray;
}

.menu-section .has-submenu:not(.is-active) ~ ul {
	display: none;
}

.menu-list {
	a {
		&:hover {
			background-color: $gold;
			color: white;
		}
		&.is-active {
			background-color: $gold;
			color: white;
		}
	}
}

.menu-list li ul {
	border-left: 1px solid $gold;
}

// Add support to navbar-burger for is-small and is-large modifiers
// https://github.com/jgthms/bulma/pull/1535/files (modified)

.slideout-toggle .navbar-burger.is-active {
	background-color: $gold;
	border-radius: 3px;
	& span {
		background-color: white;
	}
}

.my-nav-x {
	& span {
		&:nth-child(1) {

		}
	}
}

.navbar-burger {
	$my-navbar-height: 3.25rem !default;
	& span {
		margin: auto;
		left: 8%;
		right: 8%;
		width: 1rem;
	}
	&.is-small {
		width: $my-navbar-height * 0.75;
		height: $my-navbar-height * 0.75;
		& span {
			width: 0.75rem;
			&:nth-child(1) {
				top: calc(50% - 0.27rem );
			}
			&:nth-child(2) {
				top: 50%;
			}
			&:nth-child(3) {
				top: calc(50% + 0.35rem);
			}
		}
	}
	&.is-large {
		width: $my-navbar-height * 0.75;
		height: $my-navbar-height * 0.75;
		& span {
			width: 2rem;
			height: 3px;
			&:nth-child(1) {
				top: calc(50% - (1rem / 1.8));
			}
			&:nth-child(2) {
				top: 50%;
			}
			&:nth-child(3) {
				top: calc(50% + (1rem / 2));
			}
		}
		&.is-active {
			& .navbar-burger-aligner {
			}
			& span {
				&:nth-child(1) {
					transform: rotate(45deg);
					top: calc(50%);
				}
				&:nth-child(3) {
					transform: rotate(-45deg);
					top: calc(50%);
				}
				//transform: translateY(5px);
			}
		}
	}
}

.has-submenu.is-active {
  color: white !important;
}

.navbar-item {
  cursor: pointer;
  & a:hover {
	text-decoration: none;
  }
}

.menu-icon-box {
  float: right;
  background-color: black;
  padding: 3px 3px 5px 3px;
  border-radius: 3px;
}

.title-bar {
  background-color: white;
}

.card-row {
  margin-top: 10px;
  margin-bottom: 150px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 20px 0 rgba(172,172,172,0.6);
	height: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	& .button {
		margin-top: 20px;
	}
}

.card-section {
  color: gray;
  text-align: center;
}

/*-----------END OVERRIDING (OR ADDING TO) BULMA STYLES---------------*/


/*-----------OVERRIDING (OR ADDING TO) FONTAWESOME JS STYLES---------------*/
.svg-inline--fa { // fix strage issue where icons appear just a bit too high
	position: relative;
	top: 2px;
}
/*-----------OVERRIDING (OR ADDING TO) FONTAWESOME JS STYLES---------------*/


.bottom-card-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.top-card-section {
  padding-bottom: 0;
  & h4 {
	font-size: 45px;
	text-align: center;
  }
}

.card-button { 
  width: 100%;
}

.panel-tabs {
  margin-top: 0;
  margin-bottom: 0;
}

.panel-heading {
  	margin-top: 0;
  	margin-bottom: 0;
}

.visit-description {
	margin-left: 15%;
	margin-right: 15%;
	font-size: 20px;
	font-family: $family-sans-serif;
}

#visit-page-group-visit-cards {
	  margin-bottom: 120px;
	  & h2 {
		margin-top: 100px;
	  }
}

#visit-page-group-visit-button-div {
	 margin-bottom: 80px;
	 & h2 {
		margin-top: 100px;
	}
}

@include tablet { // from 769px
  	.card-row {
		display: flex;
		align-items: stretch;
  	}
}

.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	color: $white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	& li.subheader {
		margin-top: 15px;
		margin-bottom: 5px;
	}
	& a:hover {
		color: $gold;
	}
	& .columns {
		margin-bottom: 40px;
	}
}

.navigation li {
  display: inline;
}

.full-nav {
	position: fixed;
	width: 100%;
	backface-visibility: hidden;
	top: 0;
	z-index: 10;
	transition: top 0.2s ease-in-out;
	box-shadow: 0 8px 10px -10px black;
}

.navbar {
	transition: top 0.2s ease-in-out;
}

.nav-up {
	top: -172px;
}

.top-nav {
	line-height: 1.2;
	width: 100%;
	background-color: $light-gray;
	font-size: 19px;
	& ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	& li {
		display: inline-block;
		text-align: center;
		margin: 3px 0;
		&.apply-link a {
			background-color: $primary;
			color: white;
			padding-left: 15px;
			padding-right: 15px;
			&:hover {
				background-color: $gold;
			}
		}
		&.donors-link a {
		  background-color: $medium-dark-gray;
		  padding-left: 15px;
		  padding-right: 15px;
		}
	}
	& li a {
		text-align: center;
		text-decoration: none;
		padding: 10px;
	}
	& .level-left {
		background-color: $white;
		padding: 10px 10px 10px 21px;
		display: flex;
		flex-basis: 350px;
		flex-shrink: 5;
		justify-content: space-between;
	}
	& .level-right {
		padding: 10px 10px 10px 10px;
		display: flex;
		flex-basis: 500px;
		flex-shrink: 0;
		justify-content: space-between;
		padding-right: 11px;
		& li {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.nav-small {
	align-items: center;
}

.nav {
	@include mobile {
		& a:hover {
			text-decoration: none;
		}
		background-color: white;
	}
}

.nav-small .initial-small-nav {
	background-color: $light-gray;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	height: 49px;
	position: fixed;
	z-index: 100;
	width: 100%;
	& ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	& li {
		display: inline-block;
		padding: 9px 0 5px 0;
		text-align: center;
		&.apply-link {
			width: 40%;
			background-color: $purple;
			& a {
				color: white;
			}
		}
		&.visit-link {
			width: 30%;
		}
		&.info-link {
			width: 30%;
		}
		&.menu-link a {
			color: $purple;
		}
		& span.magnifying-glass {
			color: gray;
		}
	}
	& li a {
		text-align: center;
		text-decoration: none;
		padding-left: 9px;
		padding-right: 9px;
	}
	& .left-container {
		flex-basis: 250px;
		flex-shrink: 10;
		display: flex;
		justify-content: space-between;
	}
	& .center-spacer {
		flex-basis: 40px;
		flex-shrink: 2;
	}
	& .right-container {
		display: flex;
		justify-content: space-between;
		flex-basis: 150px;
		flex-shrink: 3;
	}
}

.menu-link a {
	color: $purple;
}

#nav-during-search {
	padding: 5px 10px 3px 10px;
	align-items: center;
	background-color: white;
}

/*---------------------GLOBAL STYLES----------------------*/
body {
  background-color: $light-gray;
  font-family: Times, serif;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  &.small-top {
	margin-top: 0px;
  }
}

a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}

li > ul > li {
  /*Add unfilled circle code here*/
}

ol li {
  padding-left: 7px;
}

ol {
  padding-left: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.is-gold {
	background-color: $gold;
	color: white;
	& * {
		color: white;
	}
}

.is-purple {
	background-color: $purple;
	color: white;
	& * {
		color: white;
	}
}

.is-red {
	background-color: $red;
	color: white;
	& * {
		color: white;
	}
}

.is-turquoise {
	background-color: $turquoise;
	color: white;
	& * {
		color: white;
	}
}

.is-green {
	background-color: $green;
	color: white;
	& * {
		color: white;
	}
}

.is-orange {
	background-color: $orange;
	color: white;
	& * {
		color: white;
	}
}

.is-dark-green {
	background-color: $dark-green;
	color: white;
	&:hover {
		color: white;
	}
	& * {
		color: white;
	}
}

// https://codepen.io/CrocoDillon/pen/VvOWRe
// make full area of tile clickable without disrupting tile hierarchy with anchor tag
.tile {
	position: relative;
	* {
		font-family: $family-sans-serif;
	}
}

.clickable-tile-anchor {
	&:before {
	    // full-tile clickable area
	    content: '';
	    z-index: 1;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    display: block;
  	}
}

.tile.is-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-description ul {
	//This is too global-like to use here
  //list-style-type: disc;
  padding-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 > small {
  color: rgb(172,172,172);
}

.table {
  text-align: center;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

th {
  text-align: left;
}

h1 {
	font-size: 52px;
  text-align: center;
  color: rgb(97,87,139);
  font-family: "Times New Roman";
  margin-top: 30px;
}

h2 {
  font-size: 37px;
  font-weight: bold;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  // color: rgb(125,153,155);
  color: black;
  margin-top: 50px;
}

h3 {
  font-size: 27px;
  color: rgb(0,116,118);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: rgb(90,51,88);
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
	font-size: 20px;
  text-align: left;
  font-weight: bold;
}

/* Make styles that are like the h tags, but won't interfear with the search engines or accesbility */
div.is-h1-like{
	font-size: 52px;
  color: rgb(97,87,139);
  font-family: "Times New Roman";
  margin-top: 30px;
}
div.is-h2-like{
  font-size: 37px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  // color: rgb(125,153,155);
  color: black;
  margin-top: 50px;
}
div.is-h3-like{
  font-size: 27px;
  color: rgb(0,116,118);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}
div.is-h4-like{
  font-size: 24px;
  font-weight: bold;
  // color: rgb(90,51,88);
  margin-top: 20px;
  margin-bottom: 20px;
}
div.is-h5-like{
	font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.sans-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.display-show {
	display: initial;
}

.display-none {
  display: none;
}

.button-right {
  float: right;
  float: bottom;
}

.indent-text {
  margin-left: 25px;
}

.bold {
	font-weight: bold;
}


.promotion-box-row {
  margin-bottom: 30px;
  margin-top: 30px;
}

.promotion-box {
  text-align: center;
  padding: 20px;
  margin-left: 10px;
  margin-right:10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin-bottom: 20px;
  color: white;
}

.promotion-box-blue {
  background-color: rgb(0,173,239);
}

.promotion-box-purple {
  background-color: rgb(90,51,88);
}

.promotion-box-green {
  background-color: rgb(0,116,118);
}


.promotion-box-large-text {
  font-size: 45px;
  font-weight: bold;
}

.promotion-box-small-text {
  font-size: 20px;
}

/*icon styles*/
.fi-social-facebook {
  color: dodgerblue;
  font-size: 2rem;
}
.fi-social-youtube {
  color: red;
  font-size: 2rem;
}
.fi-social-pinterest {
  color: darkred;
  font-size: 2rem;
}
i.fi-social-instagram {
  color: brown;
  font-size: 2rem;
}
i.fi-social-tumblr {
  color: navy;
  font-size: 2rem;
}
.fi-social-twitter {
  color: skyblue;
  font-size: 2rem;
}

#page-content {
	@include tablet {
		top: 176px;
	}
	@include desktop {
		top: 153px;
	}
	@include mobile {
		position: relative;
		z-index: 0;
	}
}

.purple-bold-text {
  color: rgb(90,51,88);
  font-weight: bold;
}

.sticky-nav {
  width: 100%;
  z-index: 2;
}

.top-bar-small-container {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  transition: all .5s ease;
}
.top-bar-small-container-change {
  transform: translateY(250px);
}



/*----USE WHITE BACKGROUND INSTEAD OF GREY----*/

.white-background {
  background-color: white;
}

/*----STYLES FOR: major/minor directory page----*/
.directory-column {
	padding-top: 0;
	padding-bottom: 0;
	& h4 {
		margin-bottom: 10px;
	}
}
/*----END STYLES FOR: major/minor directory page----*/

/*----STYLES FOR: course detail pages----*/
.major-minor {
  font-size: 42px;
  color: rgb(172,172,172);
}

.related-spacer {
  height: 34px;
}

.related-study-row {
  margin-bottom: 15px;
}

.related-study-header {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 19px;
}

.article-title-research {
  font-size: 20px;
  margin-top: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.how-to-apply-button-courses {
	margin-bottom: 30px;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	@include mobile {
		font-size: 8.6vw;
	}
	@include tablet-only {
	  font-size: 1.5vw;
	}
}
@media screen and (min-width: 1008px) and (max-width: 1259px) {
  .how-to-apply-button-courses {
	font-size: 15px;
  }
}

/*----STYLES FOR: views/layouts/partials/nav.blade.php----*/

.is-active .svg-submenu-arrow {
	//transition: all 0.25s;
	//transform: rotate(90deg);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.slideout-menu .svg-submenu-arrow-container {
	height: 10px;
	width: 18px;
	position: relative;
}

.slideout-for-section {
	padding: 10px 20px 0px 20px;
	& a {
		color: $grey-dark;
		border-bottom: 2px solid $purple;
		&:hover {
			border-bottom-color: $gold;
		}
	}
	& .slideout-for-section-row {
		display: flex;
		margin-top: 10px;
		justify-content: space-between;
		flex-wrap: wrap;
		& li {
			flex-basis: 40px;
		}
		& a {
			font-size: 15px;
		}
	}
}



.hover-underline-menu .svg-submenu-arrow-container {
  height: 10px;
  width: 18px;
  left: 0;
  top: -6px;
  position: relative;
  display: inline;
  & polyline {
	  stroke: white;
  }
}

.slideout-close-container {
	text-align: right;
	text-decoration: none;
	padding-right: 9px;
	padding-bottom: 10px;
	padding-top: 9px;
}

.close-button {
	color: #61578b;
	font-weight: bold;
	font-size: 20px;
	font-family: $family-sans-serif;
	&:hover {
	  text-decoration: none;
	  color: #61578b;
	}
}

/*General Styles*/

.no-height {
	height: 0px;
}

.full-width {
	width: 100%;
}

.highlighted-link {
	color: $deeper-blue;
	text-decoration: underline;
}

.quote {
  color: $purple;
  font-size: 20px;
}

.full-width-callout-button {
	font-weight: bold;
	font-size: 25px;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	@media screen and (max-width: 550px) {
	  font-size: 6vw;
	}
	&.seventy-five-width {
	  width: 74%;
	  margin-left: 13%;
	  margin-right: 13%;
	}
	&.shorter-margins {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.label {
	font-family: $family-sans-serif;
}

/* colored text */
.gold-text {
	color: $gold;
}

.sidebar-heading {
	font-size: 16px;
	color: rgb(0,116,118);
	font-weight: bold;
	display: flex;
	align-items: flex-end;
	@media screen and (max-width: 799px) {
		font-size: 10px;
	}
	@media screen and (min-width: 800px) and (max-width: 900px) {
		font-size: 11px;
	}
	@media screen and (min-width: 901px) and (max-width: 1259px) {
		font-size: 13px;
	}
}

.hidden {
  visibility: hidden;
  background-color: rgba(0,0,0,0.0);
}

.no-bullet {
	list-style-type: none !important;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.responsive-embed {
	position: relative;
	margin-top: 10px;
	height: 0;
	&.widescreen {
		padding-bottom: 56.25%;
	}
	&.fullscreen {
		padding-bottom: 75%;
	}
	& iframe, .video-container object, .video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.75-width {
  width: 50%;
}

/* VUE */
[v-cloak] {
	display: none;
}

.article-title-text-home {
  font-size: 23px;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 5px;
  @include mobile {
  }
}

.for-word {
  color: rgb(90,51,88);
  font-size: 15px;
	font-family: Helvetica;
	text-transform: capitalize;
}

.for-word-small {
  margin-left: 10px;
}

.tagline-tablet-up {
  	color: gray;
  	font-size: medium;
  	@include mobile {
  		display: none;
  	}
}

#tagline-mobile {
	color: gray;
	background-color: white;
  	margin: 0 auto;
  	text-align: center;
  	padding-top: 2px;
  	padding-bottom: 6px;
  	@include tablet {
  	  	display: none;
  	}
}

.brandbar {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,1b9135+50,1b9135+51,7f0341+100 */
  height: 7px;
  width: 100%;
  background-color: rgb(97,87,139);
  /*
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #1b9135 50%, #1b9135 51%, #7f0341 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%,#1b9135 50%,#1b9135 51%,#7f0341 100%);
  background: linear-gradient(to right, #1e5799 0%,#1b9135 50%,#1b9135 51%,#7f0341 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7f0341',GradientType=1 );
  */
}

.fixed {
	position: fixed;
	z-index: 10;
}

#page-content {
	background-color: $light-gray;
	// Shifting page content according to size of Nav handled by Javascript
	position: relative;
}

.grid-page {
	& h5 {
		color: rgb(172,172,172);
		margin-top: 10px;
	}
	& .related-links li {
		margin-top: 10px;
	}
}

.primary-menu {
  	font-weight: bold;
  	& a {
		padding: 4px 10px;
  	}
}

#primary-nav{
	text-transform: uppercase;
	white-space: nowrap;
}

.gray-pipe {
  color: gray;
}

.nav-bar-one-medium-large {
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#nav-bar-two-large {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px 7px 20px;
  @include tablet-only {
	flex-wrap: wrap;
  }
  @include mobile {
	padding: 5px 10px;
	flex-wrap: nowrap;
  }
}

#nav-bar-two-logo-large {
	flex-basis: 475px;
	flex-shrink: 3;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 10;
	background-color: white;
	margin-right: 10px;
	@include tablet-only {
		order: 1;
		flex-basis: 350px;
	}
	@include mobile {
		order: 1;
		margin: 0;
		flex-basis: 400px;
		flex-shrink: 10;
		justify-content: space-between;
		padding: 0;
	}
}

.nav-bar-two-small-right-container {
	order: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
}

.nav-bar-two-small-search-button {
	margin-right: 5px;
}

.nav-bar-two-small-menu-button {
	line-height: 0px;
	& a {
		font-size: 40px;
	}
}

.small-search-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	& .small-search-field {
		flex-basis: 1000px;
		flex-shrink: 10;
		padding-left: 10px;
	}
}

#nav-bar-two-center-content-column-large {
  flex-basis: 477px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  @include tablet-only {
	order: 3;
	margin: 0 auto;
	justify-content: center;
  }
  @include mobile {
	//order: 4;
	//margin: 0 auto;
	display: none;
	//position: relative;
  }
}

.nav-bar-two-center-content-column-inner-large {
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-two-right-column-large {
  flex-basis: 431px;
  flex-shrink: 5;
  margin-left: 10px;
  display: flex;
  justify-content: flex-end;
  @include tablet-only {
	order: 2;
	flex-basis: 300px;
  }
  @include mobile {
	display: none;
  }
}

#search-dropdown-container {
	z-index: 30;
	position: fixed;
	right: 20px; 
	background-color: white;
	top: 172px;
	bottom: 0;
	// https://codepen.io/sdthornton/pen/wBZdXq
	// https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
	// https://gist.github.com/gefangenimnetz/3ef3e18364edf105c5af.js
	// https://material.io/guidelines/
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	& a:hover {
		text-decoration: none;
	}
	@include mobile {
		width: 100%;
		right: 0;
		bottom: 0;
		top: 45px;
	}
	& .algolia-logo-container {
		float: right;
		position: relative;
		top: 11px;
	}
}

.search-results-header {
	  display: flex;
	  justify-content: space-between;
	  & span {
	  	color: #363636;
	  	font-size: 20px;
	  }
}

.search-dropdown-inner {
	padding: 10px;
	height: 100%;
}

.nav-bar-two-medium {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 16px 5px 16px;
}

.nav-bar-three-medium {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-two-column-right-medium {
  display: flex;
}

.nav-bar-three-primary-menu-medium {
  display: inline-block;
}

.search-bar-height-large {
  height: 30px;
}

.search-bar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search-button-large {
  background-color: rgb(97,87,139);
  line-height: 0;
}

.search-button-large:hover {
  background-color: rgb(61,48,116);
}

.nav-bar-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-gray;
}

.top-bar-small-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

#tu-logo {
  margin-left: 5px;
}

.search-bar-small {
	display: flex;
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.search-bar-small.field.has-addons {
	display: flex;
	align-items: center;
	margin-bottom: 0 !important;
}

.search-bar-small * {
	display: flex;
}

.search-close-button-small-container {
	padding-top: 3px !important;
	padding-bottom: 0 !important;
}

// #search-close-button-ul * {
//   display: flex;
// }

// SEARCH MODAL STYLES //
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 40vw;
  height: 95vh;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  margin-top: 0;
  font-family: $family-primary;
  font-weight: bold;
  color: $text-purple;
  font-size: 40px;
}

.modal-body {
  margin: 20px 0;
  height: 80%;
}

.body-slot {
	height: 100%;
}

.modal-default-button {
  float: right;
}

.modal-card-head {
	display: flex;
	flex-direction: column;
}

.modal-card-head-top {
	width: 100%;
	margin-bottom: 0 !important;
}

.search-popup-menu {
	height: 100%;
	overflow-y: scroll;
	& a:hover {
		text-decoration: none;
	}
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
// END SEARCH MODAL STYLES //

// .search-button-container-small {
//   background-color: rgba(0,0,0,0.0);
//   width: 40px;
//   height: 40px;
//   padding: 0;
//   display: inline-block;
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
// }

// .search-button-small {
//   font-size: 40px;
//   margin: 0;
//   line-height: 0;
//   color: rgb(64,64,64);
// }

// .input-search-button-small {
//   background-color: rgb(172,172,172);
// }

// .search-modal {
//   height: 50px;
// }

 .menu-icon { /* We'll need to tweak the size of this icon in the scss settings */
  width: 55px;
  height: 55px;
  margin-top: 10px;
}

.hamburger-menu-container {
  background-color: rgb(64,64,64);
  display: inline-block;
  float: right;
  width: 80px;
  height: 40px;
  border-radius: 3px;
  margin: 5px 5px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button-text {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.nav-menu-wrapper-small {
  height: 100vw;
}

.search-container-small {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-small-pipe {
  font-size: 40px;
  color: rgba(64,64,64,0.5);
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}



.right-buttons-small {
  display: flex;
  align-items: center;
}

.sub-bar-small {
  display: flex;
  justify-content: center;
  background-color: rgb(64,64,64);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.sub-bar-item-small {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.sub-bar-item-small:hover {
  color: white;
  text-decoration: none;
}

.sub-bar-item-one-small {
  border-right: 1px solid rgb(172,172,172);
}

.sub-bar-item-two-small {
  border-right: 1px solid rgb(172,172,172);
}

.search-input {
  width: 100%;
}

.modal-search-input {
	display: block;
}

.close-button-container {
  display: initial;
}

.close-button-custom {
  font-size: 2em;
  line-height: 1;
  color: #8a8a8a;
  margin-left: 10px;
  margin-right: 10px;
}

// https://codepen.io/commondream/pen/dFgrj (modified)
a.svg {
 position: relative;
 display: inline-block; 
 line-height: 0;
}
a.svg::after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}


/* UNDLERLINE MENU SUBNAV http://foundation.zurb.com/building-blocks/blocks/hover-underline-menu.html (modified)*/
$menu-underline-from-center-bg: rgba($purple, 0.85);
$menu-underline-from-center-border-thickness: 0.25rem;
@mixin animated-underline {
	content: "";
	position: absolute;
	top: calc(100% - #{$menu-underline-from-center-border-thickness});
	border-bottom: $menu-underline-from-center-border-thickness solid $nav-secondary-color;
}

.hover-underline-menu, .subsubnav {
	width: 100%;
	z-index: 10;
	position: fixed;
	a {
	  color: $white;
	  padding: 0 1.5rem;
	}
	.underline-from-center {
	  position: relative;
		&:hover {
			background-color: $purple;
			color: $white;
			text-decoration: none;
		}
		&::after {
			@include animated-underline;
			left: 50%;
			right: 50%;
			transition: all 0.5s ease;
		}
		&:hover::after {
			left: 0;
			right: 0;
			transition: all 0.5s ease;
		}
		&.selected-link {
			background-color: $nav-secondary-color;
			&:hover {
				background-color: $nav-secondary-color;
			}
			&::after {
				@include animated-underline;
				left: 0;
				right: 0;
			}
		}
		&.main-link {
			font-weight: 900;
		}
	}
	.persistent-underline {
		&::after {
			@include animated-underline;
			left: 0;
			right: 0;
		}
	}
}

.hover-underline-menu {
  background-color: $menu-underline-from-center-bg;
}

.subsubnav {
	top: 52px;
	position: relative;
	& .visible-menu {
		background-color: $menu-underline-from-center-bg;
		margin: 0;
		padding: 0;
		& ul {
			width: 100%;
			 & a {
				width: 0;
				height: 0;
				padding: 0;
			}
			& li {
				width: 100%;
				width: 100%;
				padding-left: 25px;
				padding-top: 8px;
				padding-bottom: 8px;
			}
		}
	}
}

#graduate-link:hover #graduate-subnav-menu {
  display: initial;
}

.hidden {
  visibility: hidden;
}

.subnav-dropdown-container {
  position: fixed;
}

.subnav-dropdown {
	position: relative;
	display: inline-block;
	z-index: 20;
}
.subnav-dropdown-content {
	z-index: 20;
	background-color: $menu-underline-from-center-bg;
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
}

.subnav-dropdown:hover .subnav-dropdown-content {
	display: block;
}

.subnav-dropdown-item {
	display: block;
	z-index: 20;
}
/* END UNDERLINE MENU SUBNAV */


/* STYLES FOR views/layouts/general.blade.php */
.related-pages-heading {
	text-align: left;
}

.main-section {
  margin-top: -120px;
  @include mobile {
	margin-top: -13px;
  }
}

.breadcrumb-container {
	float: left;
	margin-left: 15px;
	@include mobile {
		display: none;
	}
}

/* END STYLES FOR views/layouts/general.blade.php */

/* STYLES FOR views/layouts/courses.blade.php */
.cover-photo {
	background-repeat: no-repeat;
	height: 0;
	width: 100%;
	z-index: -10;
	background-size: cover;
	background-position: left bottom;
	padding-top: 33.37%;

}

.cover-photo-container {
  width: 100%;
  position: relative;
  top: -5px;

}

.cover-image {
  width:100%;
  position: relative;
  z-index: -1;
}

.width-full {
  width: 100%;
}

.how-to-apply-button {
	font-weight: bold;
	font-size: 1.5vw;
	margin-bottom: 26px;
	width: 100%;
	position: static;
	@include mobile {
		margin-top: 250px;
		margin-bottom: 40px;
		font-size: 8.6vw;
	}
	@include tablet {
		margin-top: 100px;
	}
	@include tablet-only {
		font-size: 1.7vw;
	}
}

.related-column {
  margin-top: 90px;
}

.related-thumbnail {
  margin-bottom: 0px;
}

.related-text-main {
	font-size: 18px;
	color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	@include mobile {
		font-size: 30px;
	}
}

.related-text-explore {
	color: rgb(0,173,239);
	padding-bottom: 10px;
	font-weight: bold;
	@include mobile {
		font-size: 30px;
		line-height: 1.5;
	}
}

.related-text-container {
  margin: 0;
  line-height: 16px;
}

.main-description-row {
  position: relative;
  z-index: 2;
}

.standard-template {
	li {
		//This is too global-like to use here
		//list-style-type: disc;
		margin-left: 20px;
	}
}

.main-description {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 4%;
  padding-bottom: 15%;
  background-color: white;
  font-family: "Times";
  font-size: 20px;
  text-align: left;
  text-justify: inter-word;
  @include mobile {
	margin-top: 0;
  }
  &.standard-template h1 {
	margin-bottom: 55px;
  }
  &.full-width-template {
	padding-bottom: 0px;
	background-color: $light-gray;
	& h1 {
	  margin-bottom: 0;
	}
  }
}

@include mobile { // until 768px
  .main-description h1 {
	font-size: 40px;
  }
  .main-description h3 {
	font-size: 25px;
  }
}

.timetable-description {
  line-height: 15px;
  font-family: "Times";
  font-size: 18.5px;
  margin-bottom: 100px;
}

.text-block {
  padding: 0px 40px 0px 40px;
}

.timetable-full-width {
  width: 100%;
  background-color: rgb(38, 38, 38);
}

.timetable-row {
  background-color: rgb(38, 38, 38);
  color: white;
}

.timetable-row h2 {
  padding-left: 40px;
  font-size: 52px;
  font-family: "Times New Roman";
  margin-top: 100px;
  margin-bottom: 30px;
}

.timetable-description {
  margin-top: 10px;
  padding-bottom: 100px;
  line-height: 17px;
}

.research-full-width {
  position: relative;
  width: 100%;
  background-color: white;
}

.research-row {
  background-color: white;
  color: black;
  padding-top: 75px;
  padding-bottom: 55px;
  height: 100%;
}

.research-row h3 {
  font-family: "Times New Roman";
  font-size: 25px;
  line-height: 20px;
  margin-top: 10px;
}

.research-row button {
  background-color: rgb(0, 164, 216);
  color: white;
  font-weight: bold;
  padding: 8px;
  margin-top: 5px;
}

.research-column {
	height: 100%;
	margin-bottom: 30px;
	@include mobile {
		margin-top: 10px;
	}
}

.read-more-button {
  margin-top: 5px;
}

.box-heading {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0px;
	position: relative;
	z-index: 2;
	// // Make box headings full width: https://coderwall.com/p/hkgamw/creating-full-width-100-container-inside-fixed-width-container
	// width: 100vw;
	// position: relative;
	// margin-left: -50vw;
	// left: 50%;
}

.news-section {
  padding-top: 0;
}

.stats-box-heading {
	@include tablet {
		top: 17px;
	}
}

.rankings-box-heading {
	@include tablet {
		top: -17px;
	}
}

.majors-box-heading {
	@include tablet {
		top: 17px;
	}
}

.yellow-heading {
  background-color: rgb(255,203,5);
  color: rgb(0,98,93);
}

.green-heading {
  background-color: rgb(0, 125, 123);
  color: white;
}

.purple-heading {
  background-color: rgb(97,87,139);
  color: #eeeeee;
}

/* STYLES FOR home.blade.php */

.large-stat-small {
  text-align: center;
}

.badge-top-spacer {
  margin-top: 100px;
}

.rankings-full-width-small {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.news-small {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.home-news-image {
	width: 100%;
}

.button-news-small {
  margin-bottom: 70px;
}

.stats-full-width-small {
  margin-left: 40px;
  margin-right: 40px;
}

.learn-more-button-block-small {
  padding: 0;
  margin-bottom: 30px;
}

.ranking-button {
  margin-right: 20px;
}

/* home.blade.php MEDIUM-UP-STYLES */

.home-callouts-full-width {
  /*
  background-color: white;
  min-height: 400px;
  background-size: 100%;
  */
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  background-position: left bottom;
  padding-top: 33.37%;
  position: relative;
  margin-bottom: 100px;
  top: -5px;
  @include mobile {
	height: auto;
	background-position: left top;
	margin-bottom: 50px;
  }
}

.home-callouts {
	display: flex;
	align-items: flex-end;
	margin: 0 auto;
	top: -12px;
	position: relative;
	@include mobile {
		width: 100%;
		top: 0px;
  }
}

.start-app-today-callout {
  background-color: $light-gray;
  text-align: center;
  font-family: Times, serif;
  font-style: italic;
  font-weight: bold;
  color: rgb(64,64,64);
  @include mobile {
	display: none;
  }
}


.news-full-width {
	background-color: white;
	padding-bottom: 75px;
	padding-top: 20px;
	@include mobile {
		margin-top: 0;
		padding-top: 0;
	}
}

.news-row .box-heading {
  margin-top: 16px;
}

.news-row-left {
  background-color: white;
  color: black;
  margin-top: 20px;
  height: 100%;
}

.upcoming-events-column {
  margin-left: 40px;
  margin-top: 20px;
}

.upcoming-events-heading {
  height: 10px;
  margin-bottom: 15px;
}

.large-stat {
  font-size: 75px;
  color: rgb(80,201,237);
  text-align: center;
}

@media screen and (min-width: 640px) and (max-width: 795px) {
  .large-stat {
	font-size: 60px;
  }
}

.stats-heading {
  text-align: center;
  font-size: 25px;
}

.stats-description {
  line-height: 20px;
  font-family: "Times";
  font-size: 18.5px;
  color: white;
  margin-top: 10px;
}

.stats-full-width {
  background-color: rgb(38, 38, 38);
  color: white;
  padding-top: 150px;
  padding-bottom: 250px;
  @include mobile {
	padding: 75px 30px 150px 30px;
  }
}

.large-stats-row-h2 {
  padding-left: 40px;
  font-size: 52px;
  font-family: "Times New Roman";
  margin-bottom: 30px;
  color: rgb(174,147,108);
  @include mobile {
	font-size: 40px;
  }
}

.large-stats-row {
  background-color: rgb(38, 38, 38);
  color: white;
}

.usnews-img-container {
  margin-top: -75px;
  @include mobile {
	margin-top: 0;
  }
}

.usnews-img {
  width: 100%;
}

.rankings-full-width {
  //padding-bottom: 125px;
  background-color: white;
	@include mobile {
		padding-bottom: 110px;
	}
}

.ranking-heading {
  color: rgb(90,51,88);
  font-weight: bold;
  font-size: 30px;
  @include mobile {
	margin-top: 50px;
  }
}

.learn-more-button-block {
  padding-left: 40px;
  margin-bottom: 70px;
}

.unbeaten-img {
  margin-top: 75px;
  @include mobile {
	margin-top: 0;
	margin-bottom: 30px;
  }
}

.ranking-block-text {
  margin-top: 20px;
  font-size: 20px;
}

.full-width-majors {
	height: 0;
	padding-bottom: 40.1%;
	background-position: left bottom;
	background-repeat: no-repeat;
	width: 100%;
	background-size: contain;
	z-index: 0;
	position: left bottom;
	position: relative;
	@include mobile {
		padding-top: 40.1vw;
		padding-bottom: 0;
		top: -1px;
	}
}

.majors-box {
	height: 150px;
	font-size: 22px;
	background-color: rgb(38, 38, 38);
	color: white;
	text-align: center;
	display: table;
	padding: 40px 20px 40px 20px;
	top: 75px;
	z-index: 1;
	position: relative;
	@include mobile {
		width: 100%;
		top: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		position: static;
	}
	@include tablet-only {
		top: 30px;
	}
}

.majors-box-inner {
  line-height: 30px;
  display: table-cell;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.over-majors {
  text-align: center;
  font-style: normal;
  font-size: 36px;
  font-family: Times, serif;
  color: rgb(174,147,108);
}

.find-major {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  margin-top: 25px;
}

.search-button-majors {
  margin-top: 15px;
}

.majors-box-inner>h2 {
  text-align: center;
}

/* STYLES FOR churches.blade.php */




/* STYLES FOR layouts.stories.blade.php */

.article-title-stories {
  margin-top: -70px;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
  @include mobile {
	margin-top: -3px;
  }
}

.description-stories {
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	& p {
	  margin-bottom: 30px;
	}
}

.pullquote-stories {
  text-align: right;
  color: rgb(125,153,155);
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.bottom-spacer-stories {
  height: 60px;
}

.image-row-stories {
  margin-bottom: 50px;
  margin-top: 30px;
}

.related-stories {
  margin-top: 30px;
}

.related-stories-heading {
	margin-bottom: 10px;
	color: rgb(0,116,118);
	font-weight: bold; 
}

/* END STYLES FOR layouts.stories.blade.php */


/* STYLES FOR Alphabetical List */

.alph-list-unanchored-item {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* END STYLES FOR Alphabetical List */



/* STYLES FOR visit.blade.php */

/*
https://jsfiddle.net/y0yu9gtx/ 
http://stackoverflow.com/questions/35939859/how-do-i-animate-background-image-size-on-hover-smoothly-in-css

*/

.zoom-image-row {
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
}

.zoom-image-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.zoom-image-wrapper:hover {
  -webkit-transform: scale(.95,.95);
  -webkit-transition: all .2s ease-in-out;
  transform: scale(.95,.95);
  transition: all .2s ease-in-out;
}

.zoom-image-anchor:hover {
  text-decoration: none;
}

.zoom-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: Lobster, cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom-image:hover {
  -webkit-transform: scale(1.15,1.15);
  -webkit-transition: all .2s ease-in-out;
  transform: scale(1.15,1.15);
  transition: all .2s ease-in-out;
}

.zoom-image:hover .zoom-image-text {
  animation-name: moveZoomImageText;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes moveZoomImageText {
  0% {font-size: 40px;}
  100% {font-size: 50px;}
}

.zoom-image-text {
  background-color: rgba(172,172,172,0.7);
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

/* END STYLES FOR visit.blade.php */




/* STYLES FOR news/index.blade.php */

.news-upcoming-events-row {
  margin-top: 10px;
  line-height: 16px;
}
/* END STYLES FOR news/index.blade.php */

/* MEDIA QUERIES FOR NAVIGATION BAR */
@include mobile { // Until 768px
	[data-hide-for="medium"] {
		display: none;
	}
	.primary-menu-large {
		display: none;
	}
	.top-bar-two {
		display: none;
	}
	.nav-bar-one-medium-large {
		display: none;
	}
	.nav-bar-brandbar-medium-large {
		display: none;
	}
}

@include tablet { // from 769px
  .title-bar {
	display: none;
  }
  .hamburger-menu {
	display: none;
  }
  .nav-bar-small {
	display: none;
  }
  .nav-menu-wrapper-small {
	display: none;
  }
}

/* MEDIA QUERIES FOR HOME PAGE */

@include mobile { // until 768px
  .unbeaten-bottom-spacer {
	height: 25px;
  }
}

@include tablet { // from 769px
  .unbeaten-bottom-spacer {
	height: 225px;
  }
}

/* OTHER MEDIA QUERIES */

@include mobile { // until 768px
  .box-heading {
	height: 50px;
	line-height: 50px;
  }
  .how-to-apply-row {
	background-color: white;
  }
  .related-study-row {
	width: 100%;
  }
  .related-thumbnail {
	width: 100%;
  }
  .callout-button {
	font-size: 7vw;
  }
  .main-description-row {
	position: static;
	margin-top: 0;
  }
  .article-title-stories h1 {
	font-size: 50px;
  }
}

@include touch { // until 1007px (mobile and tablet)
  .related-text-container {
	margin-top: 3px;
  }
}


  .promotion-box-row {
	display: flex;
	align-items: stretch;
  }


/* Slideout.js Styles */

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 256px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
	background-color: $grey-dark;
	& .menu-section {
		background-color: $grey-dark;
	}
	& .menu-section-title {
	  	background-color: $purple;
	  	color: white;
 }
  & a:hover {
  	text-decoration: none;
  }
  & a {
  	color: white;
  }
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/* Copied Styles from Slidout's example (index.css or something) (modified) */

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px;
  background-size: 32px;
}

.menu-header-title {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}

.menu-section {
	margin: 25px 0;
	&:first-of-type {
		margin-top: 0;
	}
}

.menu-section-title {
  text-transform: uppercase;
  background-color: $medium-gray;
  color: black;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin:0;
}

.menu-section-list {
  padding:0;
  margin: 10px 0;
  list-style:none;
}

.menu-section-list a {
  display: block;
  padding: 10px 20px;
}
