h1 {
	font-size: 52px;
  text-align: center;
  color: rgb(97,87,139);
  font-family: "Times New Roman";
  margin-top: 30px;
}

h2 {
  font-size: 37px;
  font-weight: bold;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  // color: rgb(125,153,155);
  color: black;
  margin-top: 50px;
}

h3 {
  font-size: 27px;
  color: rgb(0,116,118);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: rgb(90,51,88);
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
	font-size: 20px;
  text-align: left;
  font-weight: bold;
}

// General Styles
.no-bottom-margin {
  margin-bottom: 0 !important;
}
.add-top-margin {
  margin-top: 50px;
}
.is-h3-like {
}