/*
	sass/taylor_main.less
*/

#exampleid_abcdefg{
    display:none;
}

.is-h1-like {
	@include h1;
}

.is-h2-like {
	@include h2;
}

.is-h3-like {
	@include h3;
}

.is-h2-like {
	@include h4;
}

.is-h2-like {
	@include h5;
}

