/*
	events.less
*/
//https://bulma.io/documentation/overview/responsiveness/#breakpoints

.event-box-heading {
  top: -20px;
  position: relative;
  z-index: 2;
}
.section-space {
  margin-top: 105px;
}

#events-page-widget {
  .columns {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    .column {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }
  }
  .event-box {
    @media (min-width: 1216px) {
      border: 1px solid @medium-dark-gray;
    }
  }
  .event-heading-block {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    min-width: 247px;
  }
  .indent-tablet-up {
    @media (min-width: 767px) {
      margin-left: 42px;
    }
  }
  .featured-event {
    padding: 40px 40px 60px 40px;
  }
  .event-details {
    h3 {
      font-size: 25px;
      margin: 0px;
      line-height: 30px;
    }
    .date {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-top: 17px;
      font-size: 14px;
      color: @text-purple;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .event {
    hr {
      margin-top: 51px;
      margin-bottom: 45px;
      color: @medium-dark-gray;
    }
  }
  #important-dates {
    margin-top: 53px;
  }
  #all-events-container {
    border-top: 1px solid @medium-dark-gray;
  }
  #all-events {
    margin-top: 94px;
  }
  #event-top-nav {
    margin-top: 94px;
    text-align: center;
    text-transform: uppercase;
    a.nav-button {
      font-weight: bold;
      text-transform: uppercase;
      height: 40px;
      width: 40px;
      font-size: 24px;
      line-height: 24px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 60px;
      box-shadow: 0px 0px 2px #209cee;
      padding: 0.5em 0.6em;
      background-color: #209cee;
      border-color: transparent;
      color: #fff;
      padding: 6px 0px 0px 0px;
    }
    #monthyear {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
      vertical-align: middle;
      color: @text-purple;
      text-transform: uppercase;
      font-weight: bold;
    }
    #prev-month {
      @media (min-width: 767px) {
      margin-right: 20px;
      }
    }
    #next-month {
      @media (min-width: 767px) {
        margin-left: 20px;
      }
    }
  }
  #event-bottom-nav {
    text-align: center;
    text-transform: uppercase;
    .nav-button {
      height: 49px;
      background-color: #209cee;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 25px;
      padding-left: 30px;
      padding-right: 30px;
      a {
        display: block;
        letter-spacing: 0.1rem;
        color: #fff;
      }
    }
    #prev-month {
      i {
        margin-right: 10px;
        font-size: 30px;
        text-decoration: none;
      }
    }
    #next-month {
      i {
        margin-left: 10px;
        font-size: 30px;
        text-decoration: none;
      }
    }
  }
}

#event-details {
  .columns {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    .column {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }
  }
  .event-heading-block {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    min-width: 247px;
  }
  #event-details-box {
    border: 1px solid @medium-dark-gray;
    #event-details-content {
      @media (min-width: 767px) {
        padding: 20px 40px 40px 40px;
      }
      .detail-heading,
      .detail-data {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: @text-purple;
      }
      .detail-heading {
        text-transform: uppercase;
        font-weight: 400;
      }
      .detail-data {
        font-weight: bold;
        p {
          margin: 0px;
          padding: 0px;
        }
      }
      #right-detail-column {
        @media (min-width: 1216px) {
          margin-left: 30px;
        }
      }
      .detail-data-column {
        list-style-type: none;
        @media (max-width: 767px) {
          margin-top: 0px;
          margin-bottom: 0px;
        }
        li {
          margin-bottom: 10px;
        }
        a {
          color: @bright-blue;
          &:hover {
            color: #1779ba;
          }
          &:focus {
            color: #1779ba;
          }
        }
      }
      #additional-links {
        list-style-type: none;
        // @media (max-width: 1216px) {
        //   text-align: center;
        // }
      }
      #add-to-calendar {
        font-size: 20px;
        margin-bottom: 15px;
      }
      a.event-links {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: @bright-blue;
        &:hover {
          color: #1779ba;
        }
        &:focus {
          color: #1779ba;
        }
      }
    }
  }
}

/* AddEvent theme CSS
---------------------------------------------------------------------- */
/* Customized for Taylor.edu by Ethode.com */

/* The button */
.addeventatc {
  //width: 170px;
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 999998;
  background: @bright-blue;
  cursor: pointer;
  //font-family: Roboto, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff !important;
  //font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 10px 20px 10px 20px;
}
.addeventatc:hover {
  color: #fff;
  //font-size: 15px;
  text-decoration: none;
  background-color: #2c84f4;
}
.addeventatc:active {
  top: 1px;
}
.addeventatc .arrow {
  width: 15px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -5px;
  background: url(../gfx/icon-arrow-t1.png) no-repeat;
}
.addeventatc-selected {
  background-color: #2c84f4;
}
.addeventatc .start,
.addeventatc .end,
.addeventatc .timezone,
.addeventatc .title,
.addeventatc .description,
.addeventatc .location,
.addeventatc .organizer,
.addeventatc .organizer_email,
.addeventatc .facebook_event,
.addeventatc .all_day_event,
.addeventatc .date_format,
.addeventatc .alarm_reminder,
.addeventatc .recurring,
.addeventatc .attendees,
.addeventatc .calname,
.addeventatc .uid,
.addeventatc .status,
.addeventatc .method,
.addeventatc .client {
  display: none !important;
}

/* The drop down */
.addeventatc_dropdown {
  width: 215px;
  position: absolute;
  z-index: 99999;
  padding: 6px 0px 0px 0px;
  background: #fff;
  text-align: left;
  display: none;
  margin-top: 2px;
  margin-left: -1px;
  border-top: 1px solid #c8c8c8;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #a8a8a8;
  border-left: 1px solid #bebebe;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
}
.addeventatc_dropdown span {
  display: block;
  line-height: 100%;
  background: #fff;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  padding: 9px 10px 9px 40px;
}
.addeventatc_dropdown span:hover {
  background-color: #f4f4f4;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
.addeventatc_dropdown em {
  color: #999 !important;
  font-size: 12px !important;
}
.addeventatc_dropdown .frs {
  background: #fff;
  color: #cacaca !important;
  cursor: pointer;
  font-size: 9px !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: 110% !important;
  padding-left: 10px;
  position: absolute;
  right: 10px;
  text-align: right;
  text-decoration: none;
  top: 5px;
  z-index: 101;
}
.addeventatc_dropdown .frs:hover {
  color: #999 !important;
}
.addeventatc_dropdown .ateappleical {
  background: url(../gfx/icon-apple-t1.svg) 13px 50% no-repeat;
  background-size: 14px auto;
}
.addeventatc_dropdown .ategoogle {
  background: url(../gfx/icon-google-t1.svg) 13px 50% no-repeat;
  background-size: 16px auto;
}
.addeventatc_dropdown .ateoutlook {
  background: url(../gfx/icon-outlook-t1.svg) 12px 50% no-repeat;
  background-size: 16px auto;
}
.addeventatc_dropdown .ateoutlookcom {
  background: url(../gfx/icon-outlook-t1.svg) 12px 50% no-repeat;
  background-size: 16px auto;
}
.addeventatc_dropdown .ateyahoo {
  background: url(../gfx/icon-yahoo-t1.svg) 12px 50% no-repeat;
  background-size: 16px auto;
}
.addeventatc_dropdown .atefacebook {
  background: url(../gfx/icon-facebook-t1.svg) 13px 50% no-repeat;
  background-size: 14px auto;
}
.addeventatc_dropdown .copyx {
  height: 21px;
  display: block;
  position: relative;
  cursor: default;
}
.addeventatc_dropdown .brx {
  height: 1px;
  overflow: hidden;
  background: #e0e0e0;
  position: absolute;
  z-index: 100;
  left: 10px;
  right: 10px;
  top: 9px;
}
