/*
	taylor_main.less
*/

//	Local LESS files

@media(max-width: 767px) {
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
}
.article-title-stories.article-callout{
  @media(max-width: 767px) {
    h1{
      font-size: 24px;
    }
  }
}

/*
Some pages have designs where the elements within the main-description class must span across the entire screen on mobile.
Since this class use widely across the site I'm making the following classes as an alternative. If you want the same padding as the main-description for
some of the elements within the alt-description class, the wrap it in a div and assign the include-padding class to it.
Justin Kubicek
507-213-1531
justin@ethode.com
*/

